
@{
    ViewBag.Title = "ErJi";
    Layout = "~/Views/Shared/Template.cshtml";
}
<style type="text/css">
    div {
        margin: 0px;
        padding: 0px;
    }

    .divAllGoodsErJi > div {
        width: 1450px;
        margin: 10px auto auto auto;
        background-color: #f8f5f5;
    }
    /*复杂查询条件样式*/
    .divSelectOption-1 {
        height: 40px;
        overflow: hidden;
        /*transition-duration 设置过渡*/
        transition-duration: 0.5s;
        /* Firefox 4 */
        -moz-transition-duration: 0.5s;
        /* Safari and Chrome */
        -webkit-transition-duration: 0.5s;
        /* Opera */
        -o-transition-duration: 0.5s;
    }

    .divSelectOption-2, .divSelectOption-3 {
        float: left;
    }

    .divSelectOption-2, .divSelectOption-4 {
        width: 6%;
        text-align: center;
        margin-top: 5px;
    }

    .divSelectOption-4 {
        float: right;
    }

    .divSelectOption-3 {
        width: 85%;
        margin-left: 8px;
    }

        .divSelectOption-3 > ul > li {
            min-width: 12%;
            text-align: center;
            margin-top: 5px;
            height: 30px;
            line-height: 30px;
        }

            .divSelectOption-3 > ul > li:nth-child(odd) {
                background-color: #d3d0d0;
            }

            .divSelectOption-3 > ul > li:nth-child(even) {
                background-color: #808080;
            }
    /*简单查询样式*/
    .divSimpleSelectOption {
        height: 40px;
    }

    .divSimpleSelectOption-1 {
        float: left;
    }

    .divSimpleSelectOption-2 {
        float: right;
    }

    .divSimpleSelectOption-1 > ul li {
        border-right: 1px solid #d3d0d0;
    }

        .divSimpleSelectOption-1 > ul li:last-child {
            border-right: 0px;
        }
    /*详细内容样式*/
    .divAllGoodsErJiContent {
        background-color: #f8f5f5;
    }

        .divAllGoodsErJiContent > ul li {
            background-color: #f8f5f5;
            margin-top: 5px;
        }

    .divAllGoodsErJiContent-1 {
        text-align: center;
        width: 348px;
        position: relative;
    }

    .divAllGoodsErJiContent-miaoshu {
        text-align: left;
        height: 20px;
        background-color: #00ff21;
        width: 348px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
    }

    .divAllGoodsErJiContent-shoucangANGgouwuche {
        width: 250px;
        margin: 0 auto;
        height: 30px;
    }

        .divAllGoodsErJiContent-shoucangANGgouwuche span:first-child {
            display: block;
            float: left;
            height: 20px;
        }

        .divAllGoodsErJiContent-shoucangANGgouwuche span:last-child {
            display: block;
            height: 20px;
            float: right;
        }

    .divAllGoodsErJiContent a {
        cursor: pointer;
    }

    .ulAllGoodsErJiContentImgMin li {
        border: 1px solid #ffffff;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .divAllGoodsErJiContent-img {
        height: 200px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    /*设置hove时的阴影效果开始*/
    .divAllGoodsErJiContent-1 {
        /*transition-duration 设置过渡*/
        transition-duration: 0.5s;
        /* Firefox 4 */
        -moz-transition-duration: 0.5s;
        /* Safari and Chrome */
        -webkit-transition-duration: 0.5s;
        /* Opera */
        -o-transition-duration: 0.5s;
    }

        .divAllGoodsErJiContent-1:hover {
            /*设置阴影*/
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3); /*ie*/
            -moz-box-shadow: 5px 5px 10px #909090; /*firefox*/
            -webkit-box-shadow: 5px 5px 10px #909090; /*safari或chrome*/
            box-shadow: 5px 5px 10px #909090; /*opera或ie9*/
        }
    /*设置hove时的阴影效果结束*/
</style>
<div class="divAllGoodsErJi">

    <div class="divDaoHangLianJie">
        <a>首页</a>><a>所有商品</a>><a>耳机</a>
    </div>

    <div class="divSelectOption">

    </div>

    <div class="divSimpleSelectOption">
        <div class="divSimpleSelectOption-right divSimpleSelectOption-1">
            <ul class="mylist-inline">
                <li>
                    推荐
                </li>
                <li>
                    新品
                </li>
                <li>
                    价格↑
                </li>
                <li>
                    评论最多
                </li>
            </ul>
        </div>
        <div class="divSimpleSelectOption-left divSimpleSelectOption-2">
            <ul class="mylist-inline">
                <li>
                    <input type="checkbox" /> 查看评价
                </li>
                <li>
                    <input type="checkbox" />  仅显示优惠商品
                </li>
                <li>
                    <input type="checkbox" />  仅显示有货商品
                </li>
            </ul>
        </div>
    </div>

    <div class="divAllGoodsErJiContent">

    </div>
</div>
<script src="~/Scripts/jq/jquery-2.1.4/jquery-2.1.4.js"></script>
<script src="~/Scripts/common/handlebars-v4.0.5.js"></script>

<script id="divSelectOption" type="text/x-handlebars">
    @*多条件查询模板*@
    {{#each this }}
    <div class="divSelectOption-1">
        <div class="divSelectOption-2">{{divDaoHangLianJie_leftName}}</div>
        <div class="divSelectOption-3">
            <ul class="mylist-inline" leixing="{{leixing}}">
                {{#with divDaoHangLianJie_Content}}
                {{#each this}}
                <li>
                    {{content}}
                </li>
                {{/each}}
                {{/with}}
            </ul>
        </div>
        <div class="divSelectOption-4 min">更多</div>
    </div>
    {{/each}}
</script>

<script id="divAllGoodsContent" type="text/x-handlebars">
    @*商品展示*@
    <ul class="mylist-inline">
        {{#each this}}
        <li leixing="{{leixing}}" shopid="{{id}}">
            <div class="divAllGoodsErJiContent-1">
                <div class="divAllGoodsErJiContent-shoucangANGgouwuche">
                    <span>收藏</span>
                    <span>加入</span>
                </div>
                <div class="divAllGoodsErJiContent-img">
                    <a href="/Buy/ErJi?id={{id}}"><img src="{{maxImgsrc}}" alt="{{maxImgAlt}}" /></a>
                </div>
                <p><a href="/Buy/ErJi?id={{id}}">小米耳机</a></p>
                <p>{{jiage}}</p>
                <ul class="mylist-inline ulAllGoodsErJiContentImgMin">
                    {{#with minImg}}
                    {{#each this}}
                    <li>
                        <img src="{{src}}" alt="{{alt}}" />
                    </li>
                    <li>
                        <img src="{{src}}" alt="{{alt}}" />
                    </li>
                    <li>
                        <img src="{{src}}" alt="{{alt}}" />
                    </li>
                    {{/each}}
                    {{/with}}
                </ul>
                {{#if miaoshu}}
                <div class="divAllGoodsErJiContent-miaoshu">
                    {{miaoshu}}
                </div>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ul>
</script>


<script type="text/javascript">
    var divSelectOptionData = [
        {
            divDaoHangLianJie_leftName: "分类",
            leixing: "fenlei",
            divDaoHangLianJie_Content: [
                {
                    content: "条件1",
                },
                {
                    content: "条件2"
                },
                {
                    content: "条件3"
                },
                {
                    content: "条件4"
                },
                {
                    content: "条件5"
                },
                {
                    content: "条件6"
                },
                {
                    content: "条件7"
                },
                {
                    content: "条件8"
                },
                {
                    content: "条件9"
                },
                {
                    content: "条件10"
                }
            ],
            divDaoHangLianJie_rightName: "更多",
        },
        {
            divDaoHangLianJie_leftName: "品牌",
            leixing: "pinpai",
            divDaoHangLianJie_Content: [
                {
                    content: "品牌1"
                },
                {
                    content: "品牌2"
                },
                {
                    content: "品牌3"
                },
                {
                    content: "品牌4"
                },
                {
                    content: "品牌5"
                },
                {
                    content: "品牌6"
                },
                {
                    content: "品牌7"
                },
                {
                    content: "品牌8"
                },
                {
                    content: "品牌9"
                },
                {
                    content: "品牌10"
                },
                {
                    content: "品牌1"
                },
                {
                    content: "品牌2"
                },
                {
                    content: "品牌3"
                },
                {
                    content: "品牌4"
                },
                {
                    content: "品牌5"
                },
                {
                    content: "品牌6"
                },
                {
                    content: "品牌7"
                },
                {
                    content: "品牌8"
                },
                {
                    content: "品牌9"
                },
                {
                    content: "品牌10"
                }
            ],
            divDaoHangLianJie_rightName: "更多",
        }
    ];
    var divSelectOption_Template = Handlebars.compile($("#divSelectOption").html());
    $(".divSelectOption").html(divSelectOption_Template(divSelectOptionData));
</script>

<script type="text/javascript">
    var divAllGoodsErJiContentData = [
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: ""
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "完爆"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: ""
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "美美哒"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "哈喽"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: ""
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: ""
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: ""
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        },
        {
            leixing: "erji",
            id: 1,
            jiage: "122元",
            maxImgsrc: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!200x200.jpg",
            maxImgAlt: "",
            minImg: [
                {
                    src: "http://i1.mifile.cn/a1/T1GQATBQbT1RXrhCrK!34x34.jpg",
                    alt: ""
                }

            ],
            miaoshu: "新品上架"
        }
    ];
    var divAllGoodsContent_Template = Handlebars.compile($("#divAllGoodsContent").html());
    $(".divAllGoodsErJiContent").html(divAllGoodsContent_Template(divAllGoodsErJiContentData));
</script>

<script type="text/javascript">
    $(".divSelectOption-4").click(function () {
        if ($(this).is(".min")) {
            $(this).removeClass("min").addClass("max");
            $(this).parent().height(40 * Math.ceil($(this).prev().find("ul li").length / 8) - Math.ceil($(this).prev().find("ul li").length / 8) * 2);

        } else {
            $(this).removeClass("max").addClass("min");
            $(this).parent().height("40px");
        }
    });
</script>

