/*轮播图默认轮播方式的css*/
.ZS-list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

    .ZS-list-inline > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }



.ZS-li-YinCang {
    width: 100%;
    display: none;
}

    .ZS-li-YinCang:first-child {
        display: block;
    }




.divZSLunBoAnNiuIndivLunBoImg div {
    position: absolute;
    top: 40%;
    z-index: 6;
    width: 50px;
    height: 80px;
}

    .divZSLunBoAnNiuIndivLunBoImg div:first-child:hover {
        background: url(icon-slides.png) no-repeat 8px 40%;
        cursor: pointer;
    }

    .divZSLunBoAnNiuIndivLunBoImg div:last-child:hover {
        background: url(icon-slides.png) no-repeat -41px 50%;
        cursor: pointer;
    }

    .divZSLunBoAnNiuIndivLunBoImg div:first-child {
        left: 10px;
        background: url(icon-slides.png) no-repeat -84px 40%;
    }

    .divZSLunBoAnNiuIndivLunBoImg div:last-child {
        right: 10px;
        background: url(icon-slides.png) no-repeat -115px 50%;
    }





.divZSLunBoBiaoShiIndivLunBoImg {
    position: absolute;
    bottom: 10px;
    z-index: 6;
    line-height: 30px;
    right: 100px;
    font-size: 20px;
    cursor: pointer;
}

/*实心圆形*/
.disc {
    width: 15px;
    height: 15px;
    background: #000000;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: block;
}
/*空心圆形*/
.HollowCircle {
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: block;
}

.ZS-list-unstyled {
    padding-left: 0;
    list-style: none;
}

    .ZS-list-unstyled > li {
        display: none;
    }

    .ZS-list-unstyled li:first-child {
        display: block;
    }

.ZS-li-ChongDie {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

    .ZS-li-ChongDie:first-child {
        z-index: 1;
    }
