<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--QQ登录，自写帮助类配置-->
  <add key="QQAppID" value="101346412" />
  <add key="QQAppKey" value="2a35f36d68cc57075a1d7a0b84443af9"/>
  <add key="QQCallBack" value="http://www.aizheaina.com/Home/QQConnect"/>
  <add key="QQAuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize" />
  <!--QQ登录，自写帮助类配置-->

  <!--邮件发送配置-->
  <!--用户名-->
  <add key="EDMAccountName" value="lovexia_520@126.com" />
  <!--密码-->
  <add key="EDMAccountPwd" value="zhangruojie1020" />
  <!--昵称-->
  <add key="EDMAccountAlias" value="lovexia_520@126.com" />
  <add key="SmtpHost" value="smtp.126.com" />
  <add key="SmtpPort" value="25" />
  <!--是否使用安全套接字(SSL)加密连接-->
  <add key="SmtpSSL" value="false" />
  <!--邮件主题-->
  <add key="EDMTitle" value=""/>

  <!--邮件发送配置-->

</appSettings>
