<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--测试-->
  <!--<add name="AiZheAiNaRead" connectionString="server=127.0.0.1;uid=sa;pwd= zhangsai;database=AiZheAiNa;min pool size=20;max pool size=1000;packet size=3072;Connect Timeout=90;"/>
  <add name="AiZheAiNaWrite" connectionString="server=127.0.0.1;uid=sa;pwd= zhangsai;database=AiZheAiNa;min pool size=20;max pool size=1000;packet size=3072;Connect Timeout=90;"/>-->

  <!--正式-->
  <add name="AiZheAiNaRead" connectionString="server=172.19.234.1;uid=sa;pwd= zhangsai;database=AiZheAiNa;min pool size=20;max pool size=1000;packet size=3072;Connect Timeout=90;"/>
  <add name="AiZheAiNaWrite" connectionString="server=172.19.234.1;uid=sa;pwd= zhangsai;database=AiZheAiNa;min pool size=20;max pool size=1000;packet size=3072;Connect Timeout=90;"/>
</connectionStrings>