@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}
<style type="text/css">
    /*ul li:hover {
        cursor: pointer;
    }*/
    body {
        background: #f5f5f5 none repeat scroll 0 0;
    }

    * {
        padding: 0;
        margin: 0;
    }

    #divDaTouBu {
        margin: 0 auto auto auto;
        background-color: #cbc8c8;
        height: 500px;
    }

    .divHomeIndexPageWai {
        width: 100%;
    }

    .divHomeIndexPageWai1 {
        background: #ffffff;
    }

    .divHomeIndexPageWai > div {
        width: 1220px;
        margin: 10px auto auto auto;
    }

    a:hover {
        cursor: pointer;
    }

    #divShuPaiFeiLeiDaoHang {
        width: 20%;
        float: left;
    }

    .divShuPaiFeiLeiDaoHang_ul1 {
        background-color: #5C544C;
        color: #ffffff;
        margin-bottom: 0;
        position: relative;
    }

    .divShuPaiFeiLeiDaoHang_li1 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

        .divShuPaiFeiLeiDaoHang_li1:hover {
            background-color: #ff6a00;
        }

    .divShuPaiFeiLeiDaoHang_a1 {
        color: #ffffff;
        text-decoration: none;
    }

    .divShuPaiFeiLeiDaoHang_div1 {
        /*width: calc(1450*0.2px);*/
        background-color: #ffffff;
        height: 500px;
        left: 244px;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 0px;
        z-index: 20;
        display: none;
    }

    .divShuPaiFeiLeiDaoHang_ul2 {
        width: 220px;
        height: 500px;
        float: left;
    }

    .divShuPaiFeiLeiDaoHang_li2 {
        height: 83.3px;
        list-style-type: none;
    }

        .divShuPaiFeiLeiDaoHang_li2 a {
            color: #000000;
            display: block;
            float: left;
        }

        .divShuPaiFeiLeiDaoHang_li2 img {
            margin-left: 10px;
            margin-right: 10px;
            width: 30px;
        }

    .divShuPaiFeiLeiDaoHang_a2 {
        line-height: 75px;
        width: 132px;
    }

    .divShuPaiFeiLeiDaoHang_a3 {
        margin-left: 20px;
        margin-right: 10px;
        border: 1px solid #fb3434;
        width: 58px;
        height: 22px;
        line-height: 22px;
        margin-top: 28px;
    }

        .divShuPaiFeiLeiDaoHang_a3:hover {
            background-color: #fb3434;
        }

    #ulKuaiSuZhiDa3GeImgLianJie > li > a > div > img {
        width: 306.1px;
        height: 200px;
    }

    #divKuaiSuZhiDa6GePuTongLianJie {
        width: 20%;
        float: left;
        background-color: rosybrown;
    }

        #divKuaiSuZhiDa6GePuTongLianJie li {
            height: 90px;
            width: 30%;
            padding: 15px 0 15px 0;
            border: 1px solid #b6ff00;
        }

    #divJingMeiDanPin {
        width: 5%;
        float: right;
    }

        #divJingMeiDanPin > ul > li {
            width: 30px;
            height: 30px;
            cursor: pointer;
            padding-top: 4px;
            border: 1px solid #bfbebe;
        }

            #divJingMeiDanPin > ul > li:hover {
                background-color: #ff6a00;
            }


    .ulJingMeiDanPin {
        width: 3000px;
        margin-left: 0px;
    }

        .ulJingMeiDanPin > li {
            float: left;
        }

            .ulJingMeiDanPin > li > div {
                width: 233px;
                height: 300px;
            }

                .ulJingMeiDanPin > li > div img {
                    width: 130px;
                    height: 170px;
                }

                .ulJingMeiDanPin > li > div > div {
                    width: 233px;
                    height: 80px;
                }

    .rainbow-item-1 {
        border-top: 1px solid #ffac13;
    }

    .rainbow-item-2 {
        border-top: 1px solid #83c44e;
    }

    .rainbow-item-3 {
        border-top: 1px solid #2196f3;
    }

    .rainbow-item-4 {
        border-top: 1px solid #e53935;
    }

    .rainbow-item-5 {
        border-top: 1px solid #00c0a5;
    }

    .rainbow-item-6 {
        border-top: 1px solid #ffac13;
    }

    .rainbow-item-7 {
        border-top: 1px solid #83c44e;
    }

    .rainbow-item-8 {
        border-top: 1px solid #2196f3;
    }

    .rainbow-item-9 {
        border-top: 1px solid #e53935;
    }

    .rainbow-item-10 {
        border-top: 1px solid #00c0a5;
    }

    #ulDaPeiFenLei {
        float: right;
    }

        #ulDaPeiFenLei li:hover {
            color: #ff6a00;
        }

    .ulDaPeiN {
        position: relative;
        margin: 0;
        padding: 0;
    }


    .divDaPeiRightMiaoShu1 {
        margin-top: 20px;
    }

    .divDaPeiRightMiaoShu2 {
        width: 230px;
        height: 0px;
        overflow: hidden;
        /*transition第一个参数设置哪个属性过渡，第二个设置过渡所需时间，3使用函数，4延迟时间*/
        transition: all 0.2s linear 0s;
        opacity: 0;
        position: absolute;
        z-index: 7;
        left: 0px;
        bottom: 0px;
        background-color: #ff6a00;
    }

    .divDaPeiRightMiaoShu3 {
        background-color: #83c44e;
        height: 20px;
        left: 35%;
        position: absolute;
        text-align: center;
        top: 0;
        width: 70px;
        z-index: 7;
    }

    #divLunBoImgWai {
        width: 80%;
        float: right;
        height: 500px;
    }

        #divLunBoImgWai img {
            height: 500px;
            width: 976px;
        }

    #divZhiNengYingJian, #divZhiNengYingJian2 {
        height: 665px;
        margin: 10px auto auto auto;
    }
    /*设置hove时的阴影效果开始*/
    .ulDaPeiN li > div {
        /*transition-duration 设置过渡*/
        transition-duration: 0.5s;
        /* Firefox 4 */
        -moz-transition-duration: 0.5s;
        /* Safari and Chrome */
        -webkit-transition-duration: 0.5s;
        /* Opera */
        -o-transition-duration: 0.5s;
    }

        .ulDaPeiN li > div:hover {
            /*设置阴影*/
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3); /*ie*/
            -moz-box-shadow: 5px 5px 10px #909090; /*firefox*/
            -webkit-box-shadow: 5px 5px 10px #909090; /*safari或chrome*/
            box-shadow: 5px 5px 10px #909090; /*opera或ie9*/
        }
    /*设置hove时的阴影效果结束*/

    /*#divZhiNengYingJianLeft, #divZhiNengYingJianLeft2, .ultempplate {
        margin-top: 10px;
    }*/


    #divZhiNengYingJianLeft img, #divZhiNengYingJianLeft2 img {
        height: 624px;
        width: 183px;
    }

    .divZhiNengYingJianRightMiaoShu3 {
        background-color: #ffd800;
        height: 20px;
        left: 35%;
        position: absolute;
        text-align: center;
        top: 0;
        width: 70px;
        z-index: 7;
    }

    .ulJingMeiDanPin > li {
        padding-left: 0;
        padding-right: 0;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #ffffff;
    }

    .ulDaPeiN > li {
        padding-left: 0;
        padding-right: 0;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #ffffff;
        margin-bottom: 16px;
    }

    /*.navigation_anchor:first-child {
        background-color: red;
    }*/

    .divDaPei {
        height: 665px;
        margin: 10px auto auto auto;
        width: 100%;
    }

        .divDaPei > div:first-child {
            width: 15%;
            float: left;
        }

            .divDaPei > div:first-child > img {
                width: 100%;
                height: 304px;
            }

                .divDaPei > div:first-child > img:first-child {
                    margin-bottom: 16px;
                }

        .divDaPei > div:last-child {
            float: right;
            width: 85%;
        }
</style>
<link href="~/Content/css/common/ulZhanShiLiBiao.css" rel="stylesheet" />
<div class="divHomeIndexPageWai divHomeIndexPageWai1">

    <div id="divDaTouBu">
        <div id="divShuPaiFeiLeiDaoHang" miaoshu="竖排分类导航">

        </div>
        <div id="divLunBoImgWai">

        </div>
    </div>

    <div style="height: 200px;">
        <div id="divKuaiSuZhiDa6GePuTongLianJie" miaoshu="快速直达-6个普通链接小分类">
            <div>
                <ul class="my-list-inline text-center">
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                </ul>
            </div>
            <div>
                <ul class="my-list-inline text-center">
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                </ul>
            </div>
        </div>

        <div style="width:78%;float: right;" miaoshu="快速直达-3个小图展示链接小分类">
      <ul class="my-list-inline" id="ulKuaiSuZhiDa3GeImgLianJie" style="margin-bottom:0">
                <li>
                    <a>
                       <div>
                            <img src="http://i3.mifile.cn/a4/b16fa801-335d-4b38-9dbd-d1f3371307ee" alt="小米Max赠风扇">
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div>
                            <img src="http://i3.mifile.cn/a4/c202123c-4197-4666-9793-2f1e156ab23a" alt="红米pro-0820">
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div>
                            <img src="http://i3.mifile.cn/a4/e871ec13-077d-43ef-b5a5-25344f560f1d" alt="VR开售预告">
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div id="divJingMeiDanPin_wai" class="navigation_anchor" anchortxt="精美单品">

        <div style="height:50px;">
            <div style="float:left; font-size: 24px; ">
             精美单品   </div>   <div id="divJingMeiDanPin">
                <p />       <p />
                <p />
                <ul class="text-center my-list-inline">
                    <li class="liJingMeiDanPinLunBoAnNiu">
                        <
                    </li>
                    <li class="liJingMeiDanPinLunBoAnNiu">
                        >
                    </li>
                </ul>
            </div>
        </div>

        <div id="divJingMeiDanPinContent" style="height:300px;overflow:hidden" class="text-center">

        </div>

    </div>

</div>

<div class="divHomeIndexPageWai divHomeIndexPageWai2">
    <div id="divZhiNengYingJian_wai" class="navigation_anchor" an

<div class="divHomeIndexPageWai divHomeIndexPageWai2">
    <div id="divZhiNengYingJian_wai" class="navigation_anchor" anchortxt="智能硬件">

        <div style="height:50px">
            <div style="float: left; font-size: 24px">
                智能硬件
            </div>
            <div style="width:70%;float:right;text-align:right">
                查看全部<img style="width:60px;height:50px" src="../Content/Images/go.png" />
            </div>
        </div>

        <div id="divZhiNengYingJian">
            <div id="divZhiNengYingJianLeft" style="float: left; width: 15%;">
                <img alt="" src="http://i3.mifile.cn/a4/57c2f4fb-6743-44c6-b447-6bd55aaeef89">
            </div>
            <div id="divZhiNengYingJianRight" style="float: right; width: 85%;">
            </div>
        </div>

    </div>
</div>

<div class="divHomeIndexPageWai divHomeIndexPageWai3">
    <div id="divDaPei_wai" class="navigation_anchor" anchortxt="搭配">

        <div style="height:50px;">
            <div style="float: left; font-size: 24px">
                搭配
            </div>
            <div style="width:70%;float:right;">
                <p />
                <p /><p />
                <ul class="my-list-inline text-center" id="ulDaPeiFenLei">
                    <li>热门</li>
                    <li>耳机音箱</li>
                    <li>数据线</li>
                    <li>电源</li>
                    <li>电池储存卡</li>
                </ul>
            </div>
        </div>

        <div class="divDaPei">
            <div>
                <img alt="1" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                <img alt="1" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
            </div>
            <div id="divDaPeiRight">

            </div>
        </div>
    </div>

</div>

<div class="divHomeIndexPageWai divHomeIndexPageWai4">
    <div id="divZhiNengYingJian2_wai" class="navigation_anchor" anchortxt="智能硬件2">

        <div style="height:50px">
            <div style="float: left; font-size: 24px">
                智能硬件2
            </div>
            <div style="width:70%;float:right;text-align:right">
                查看全部<img style="width:60px;height:50px" src="../Content/Images/go.png" />
            </div>
        </div>

        <div id="divZhiNengYingJian2" class="divZhiNengYingJian2">
            <div id="divZhiNengYingJianLeft2" style="float: left; width: 15%;">
                <img alt="" src="http://i3.mifile.cn/a4/57c2f4fb-6743-44c6-b447-6bd55aaeef89">
            </div>
            <div id="divZhiNengYingJianRight2" style="float: right; width: 85%;">
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/jq/jquery-2.1.4/jquery-2.1.4.js"></script>
<script src="~/Scripts/MyLunBo/ZSImgLunBo.js"></script>
<script src="~/Scripts/common/handlebars-v4.0.5.js"></script>
<script id="divShuPaiFeiLeiDaoHang_Template" type="text/x-handlebars">
    <!--竖排分类导航模板-->
    <ul class="list-unstyled text-center divShuPaiFeiLeiDaoHang_ul1">
        {{#each this}}
        <li class="divShuPaiFeiLeiDaoHang_li1">
            <a href="/AllGoods/{{AshuPaiDaoHangNameEN}}" class="divShuPaiFeiLeiDaoHang_a1">{{AshuPaiDaoHangName}}</a>
            <div class="divShuPaiFeiLeiDaoHang_div1">

                <ul class="list-unstyled divShuPaiFeiLeiDaoHang_ul2 divShuPaiFeiLeiDaoHang_ul2_{{@@index}}">
                    <!--进入属性-->
                    {{#with Specific}}
                    {{#each this}}
                    <li class="divShuPaiFeiLeiDaoHang_li2">
                        {{#if isShowDetails}}
                        <!--是否有大图介绍，类似http://www.mi.com/yinxiang/-->
                        <a href="/Details/{{shopType}}?shopModel={{shopModel}}" class="divShuPaiFeiLeiDaoHang_a2">
                            <img src="{{shuPaiDaoHangLiXiaoImgSrc}}" />
                            <span>{{shuPaiDaoHangLiXiaoImgSpanMiaoShu}}</span>
                        </a>
                        {{else}}
                        <a href="/Buy/{{shopType}}?shopModel={{shopModel}}" class="divShuPaiFeiLeiDaoHang_a2">
                            <img src="{{shuPaiDaoHangLiXiaoImgSrc}}" />
                            <span>{{shuPaiDaoHangLiXiaoImgSpanMiaoShu}}</span>
                        </a>
                        {{/if}}
                        {{#if buyName }}
                        <a href="/Buy/{{shopType}}?shopModel={{shopModel}}" class="divShuPaiFeiLeiDaoHang_a3">{{buyName}}</a>
                        {{/if}}
                    </li>
                    {{/each}}
                    {{/with}}
                </ul>
            </div>
        </li>
        {{/each}}
    </ul>
</script>
<script id="divJingMeiDanPinContent_Template" type="text/x-handlebars">
    <!--精美单品模板-->
    <ul class="my-list-inline ulJingMeiDanPin">
        {{#each this}}
        <li>
            <div class="rainbow-item-{{addOne @@index}}">
                <a href="/Buy/{{shopType}}?shopModel={{shopModel}}">
                    <img src="{{ImgSrc}}" alt="{{ImgAlt}}" />
                </a>
                <div>
                    <a href="/Buy/{{shopType}}?shopModel={{shopModel}}">{{Name}}</a><p />
                    <p>{{JianShu}}</p>
                    <p>{{JiaGe}}</p>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</script>
<script id="divDaPeiRight_Template" type="text/x-handlebars">
    <!--搭配右边内容模板,@@last表示最后的循环。其实handlebars应该的是@只不过这是razor视图格式所以需要转换-->
    <ul class="text-center my-list-inline ulDaPeiN" FenLeiEnName="{{FenLeiEnName}}">
        {{#with Content}}
        {{#each this}}
        {{#if @@last}}
        <li style="width:230px;height:143px;position:relative;top:-126px;padding-left:0px">
            <div style="width:230px;height:143px;background-color:#ffffff">
                <div style="height: 60px;width: 130px;position:absolute;top:55px">
                    {{#if isShowDetails}}
                    <!--是否有大图介绍，类似http://www.mi.com/yinxiang/-->
                    <a href="/Details/{{shopType}}?shopModel={{shopModel}}">{{Name}}</a><br />
                    {{else}}
                    <a href="/buy/{{shopType}}?shopModel={{shopModel}}">{{Name}}</a><br />
                    {{/if}}
                    <span>{{PingJiaRenName}}</span>
                </div>
                <div style="height: 80px;width: 80px;position:absolute;right:20px;top:30px">
                    {{#if isShowDetails}}
                    <!--是否有大图介绍，类似http://www.mi.com/yinxiang/-->
                    <a href="/Details/{{shopType}}?shopModel={{shopModel}}">
                        <img style="width:80px;height:80px" alt="{{ImgAlt}}" src="{{ImgSrc}}" />
                    </a>
                    {{else}}
                    <a href="/buy/{{shopType}}?shopModel={{shopModel}}">
                        <img style="width:80px;height:80px" alt="{{ImgAlt}}" src="{{ImgSrc}}" />
                    </a>
                    {{/if}}
                </div>
            </div>
        </li>
        {{else}}
        <li>
            <div class="my-ultempplate-div1">
                {{#if TeDian}}
                <!--没有特点则不生成特点div-->
                <div class="divDaPeiRightMiaoShu3">
                    {{TeDian}}
                </div>
                {{/if}}
                {{#if isShowDetails}}
                <!--是否有大图介绍，类似http://www.mi.com/yinxiang/-->
                <a href="/Details/{{shopType}}?shopModel={{shopModel}}">
                    <img alt="{{ImgAlt}}" src="{{ImgSrc}}" />
                </a>
                {{else}}
                <a href="/buy/{{shopType}}?shopModel={{shopModel}}">
                    <img alt="{{ImgAlt}}" src="{{ImgSrc}}" />
                </a>
                {{/if}}
                <div class="divDaPeiRightMiaoShu1">
                    {{#if isShowDetails}}
                    <!--是否有大图介绍，类似http://www.mi.com/yinxiang/-->
                    <a href="/Details/{{shopType}}?shopModel={{shopModel}}">{{Name}}</a><p />
                    {{else}}
                    <a href="/buy/{{shopType}}?shopModel={{shopModel}}">{{Name}}</a><p />
                    {{/if}}
                    <p>{{JiaGe}}</p>
                    <p>{{PingJiaShuLiang}}</p>
                </div>

                {{#if PingJiaID}}
                <!--没有评价则不生成评价div-->
                <div class="divDaPeiRightMiaoShu2">
                    {{#if isShowDetails}}
                    <!--是否有大图介绍，类似http://www.mi.com/yinxiang/-->
                    <a href="/Details/{{shopType}}?shopModel={{shopModel}}">
                        <p>{{PingJia}}</p>
                        <p>{{PingJiaRenName}}</p>
                    </a>
                    {{else}}
                    <a href="/buy/{{shopType}}?shopModel={{shopModel}}">
                        <p>{{PingJia}}</p>
                        <p>{{PingJiaRenName}}</p>
                    </a>
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </li>
        {{/if}}
        {{/each}}
        {{/with}}
        <li style="width:230px;height:143px;position:absolute;right:33px;bottom:0px">
            <div style="width:230px;height:143px;position:absolute;right:0px;bottom:0px;background-color:#ffffff">
                <div style="height: 80px;width: 130px;position:absolute;top:50px">
                    <a href="/AllGoods/{{FenLeiEnName}}">浏览更多</a><p />
                    <p>{{FenLeiCnName}}</p>
                </div>
                <div style="height: 80px;width: 80px;position:absolute;right:20px;top:35px">
                    <a href="/AllGoods/{{FenLeiEnName}}">
                        <img style="width:90px;height:80px" src="../Content/Images/go.png" />
                    </a>
                </div>
            </div>
        </li>
    </ul>
</script>
<script id="divZhiNengYingJianRight_Template" type="text/x-handlebars">
    <!--智能硬件右边内容能硬件模板-->
    <ul class="my-text-center my-list-inline my-ultempplate">
        {{#each this}}
        <li>
            <div class="my-ultempplate-div1">
                {{#if TeDian}}
                <div class="divZhiNengYingJianRightMiaoShu3">
                    {{TeDian}}
                </div>
                {{/if}}
                {{#if isShowDetails}}
                <!--是否有大图介绍，类似http://www.mi.com/yinxiang/-->
                <a href="/Details/{{shopType}}?shopModel={{shopModel}}">
                    <img alt="{{ImgAlt}}" src="{{ImgSrc}}" />
                </a>
                {{else}}
                <a href="/buy/{{shopType}}?shopModel={{shopModel}}">
                    <img alt="{{ImgAlt}}" src="{{ImgSrc}}" />
                </a>
                {{/if}}
                <div class="divZhiNengYingJianRightMiaoShu1">
                    {{#if isShowDetails}}
                    <!--是否有大图介绍，类似http://www.mi.com/yinxiang/-->
                    <a href="/Details/{{shopType}}?shopModel={{shopModel}}">{{Name}}</a>
                    {{else}}
                    <a href="/buy/{{shopType}}?shopModel={{shopModel}}">{{Name}}</a>
                    {{/if}}
                    <p />
                    <p>{{JianShu}}</p>
                    <p>{{JiaGe}}</p>
                    <p>{{PingJiaShuLiang}}
                </div>

                {{#if PingJiaID}}
                <!--没有评价则不生成评价div-->
                <div class="divDaPeiRightMiaoShu2">
                    {{#if isShowDetails}}
                    <!--是否有大图介绍，类似http://www.mi.com/yinxiang/-->
                    <a href="/Details/{{shopType}}?shopModel={{shopModel}}">
                        <p>{{PingJia}}</p>
                        <p>{{PingJiaRenName}}</p>
                    </a>
                    {{else}}
                    <a href="/buy/{{shopType}}?shopModel={{shopModel}}">
                        <p>{{PingJia}}</p>
                        <p>{{PingJiaRenName}}</p>
                    </a>
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ul>
</script>
<script src="~/Scripts/common/handlebars.extend.js"></script>
<script type="text/javascript">
    var divShuPaiFeiLeiDaoHangData = [
    {
        AshuPaiDaoHangName: "手机 电话卡",
        AshuPaiDaoHangNameEN: "PhoneAndTelcar",
        Specific: [
            {
                shopType: "Phone",//商品类型
                shopModel: "xiaomi5", //商品类型下级
                isShowDetails: true,//是否有大图介绍，类似http://www.mi.com/yinxiang/
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购1"
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/15/goods/sidebar/maxbar80.jpg?width=40&height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米Max",
                buyName: "选购2",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购3",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购4",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购5",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/15/goods/sidebar/heyue.jpg?width=40&height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "合约机",
                buyName: "",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购7",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购8",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购9",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购10",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购11",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购12",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购13",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购14",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购15",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购16",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购17",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购18",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
                {
                    shopType: "Phone",
                    shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                    shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                    buyName: "选购19",
                    shopModel: "xiaomi5",
                    isShowDetails: true
                }
        ]
    }
    ,
    {
        AshuPaiDaoHangName: "笔记本 平板",
        AshuPaiDaoHangNameEN: "NotebookAndFlat",
        Specific: [
           {
               shopType: "Phone",
               shopModel: "xiaomi5",
               shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
               shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
               buyName: "选购",
               isShowDetails: false
           },
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                 buyName: "选购",
                 shopModel: "xiaomi5",
                 isShowDetails: true
             },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/15/goods/sidebar/maxbar80.jpg?width=40&height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米Max",
                buyName: "选购",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购",
                shopModel: "xiaomi5",
                isShowDetails: true
            },
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购",
                shopModel: "xiaomi5",
                isShowDetails: true
            }
            ,
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购ss",
                shopModel: "xiaomi5",
                isShowDetails: true
            }
        ]
    }
    ,
     {
         AshuPaiDaoHangName: "电视 盒子",
         AshuPaiDaoHangNameEN: "TvAndBox",
         Specific: [
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购",
                shopModel: "xiaomi5", isShowDetails: true
            },
              {
                  shopType: "Phone",
                  shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                  shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                  buyName: "选购",
                  shopModel: "xiaomi5", isShowDetails: true
              }
         ]
     },
     {
         AshuPaiDaoHangName: "路由器 智能硬件",
         AshuPaiDaoHangNameEN: "RouterAndIntelligentHardware",
         Specific: [
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                 buyName: "选购",
                 shopModel: "xiaomi5", isShowDetails: true
             },
              {
                  shopType: "Phone",
                  shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                  shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                  buyName: "选购",
                  shopModel: "xiaomi5", isShowDetails: true
              }
         ]
     },
     {
         AshuPaiDaoHangName: "移动电源 电池 插排",
         AshuPaiDaoHangNameEN: "PortableSourceAndTelevisionAndSocket",
         Specific: [
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购",
                shopModel: "xiaomi5", isShowDetails: true
            },
              {
                  shopType: "Phone",
                  shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                  shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                  buyName: "选购",
                  shopModel: "xiaomi5", isShowDetails: true
              }
         ]
     },
     {
         AshuPaiDaoHangName: "耳机 音响",
         AshuPaiDaoHangNameEN: "HeadsetAndSound",
         Specific: [
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                 buyName: "选购",
                 shopModel: "xiaomi5", isShowDetails: true
             },
              {
                  shopType: "Phone",
                  shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                  shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                  buyName: "选购",
                  shopModel: "xiaomi5", isShowDetails: true
              }
         ]
     },
     {
         AshuPaiDaoHangName: "保护套 贴膜",
         AshuPaiDaoHangNameEN: "SmartcoverAndFilm",
         Specific: [
            {
                shopType: "Phone",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                buyName: "选购",
                shopModel: "xiaomi5", isShowDetails: true
            },
              {
                  shopType: "Phone",
                  shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                  shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                  buyName: "选购",
                  shopModel: "xiaomi5", isShowDetails: true
              },
              {
                  shopType: "Phone",
                  shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/15/goods/sidebar/maxbar80.jpg?width=40&height=40",
                  shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米Max",
                  buyName: "选购",
                  shopModel: "xiaomi5", isShowDetails: true
              },
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                 buyName: "选购",
                 shopModel: "xiaomi5", isShowDetails: true
             },
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                 buyName: "选购",
                 shopModel: "xiaomi5", isShowDetails: true
             },
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                 buyName: "选购",
                 shopModel: "xiaomi5", isShowDetails: true
             },
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                 buyName: "选购",
                 shopModel: "xiaomi5", isShowDetails: true
             }
         ]
     },
     {
         AshuPaiDaoHangName: "线材 支架 存储卡",
         AshuPaiDaoHangNameEN: "WirerodAndBracketAndMemorycard",
         Specific: [
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                 buyName: "选购",
                 shopModel: "xiaomi5", isShowDetails: true
             },
              {
                  shopType: "Phone",
                  shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                  shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                  buyName: "选购",
                  shopModel: "xiaomi5", isShowDetails: true
              }
         ]
     },
     {
         AshuPaiDaoHangName: "箱包 服饰",
         AshuPaiDaoHangNameEN: "BagsAndDresses",
         Specific: [
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                 buyName: "",
                 shopModel: "xiaomi5", isShowDetails: true
             },
              {
                  shopType: "Phone",
                  shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                  shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                  buyName: "",
                  shopModel: "xiaomi5", isShowDetails: true
              }
         ]
     },
     {
         AshuPaiDaoHangName: "米兔 生活周边",
         AshuPaiDaoHangNameEN: "MrabbitAndLifeperiphery",
         Specific: [
             {
                 shopType: "Phone",
                 shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                 shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
             },
              {
                  shopType: "Phone",
                  shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                  shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
              }
         ]
     }
    ];
    var divShuPaiFeiLeiDaoHang_Template = Handlebars.compile($("#divShuPaiFeiLeiDaoHang_Template").html());
    $("#divShuPaiFeiLeiDaoHang").html(divShuPaiFeiLeiDaoHang_Template(divShuPaiFeiLeiDaoHangData));
    //竖排分类导航中的li数量为一列6个，多出的li则取出来放到新生成的ul中
    for (var i = 0; i < $(".divShuPaiFeiLeiDaoHang_li1").length ; i++) {
        var li = $(".divShuPaiFeiLeiDaoHang_ul2_" + i + " li");
        //将li中数据分成没6个一组
        if (li.length > 6) {
            var sum = Math.ceil(li.length / 6)
            for (var j = 0; j < sum; j++) {
                //根据列数设置宽度
                li.parent().parent().width(li.parent().parent().width() + 222);
                li.parent().parent().append($('<ul class="list-unstyled  divShuPaiFeiLeiDaoHang_ul2 divShuPaiFeiLeiDaoHang_ul2_create' + j + '">'));
                if (j == sum - 1) {
                    //最后一次取除了前6个的所有
                    $(".divShuPaiFeiLeiDaoHang_ul2_" + i + " li").each(function (index, item) {
                        if (index > 5) {
                            $(".divShuPaiFeiLeiDaoHang_ul2_create" + j).append($(item));
                        }
                    })
                } else {
                    //每次按顺序取除了前6个的li取6个
                    $(".divShuPaiFeiLeiDaoHang_ul2_" + i + " li").each(function (index, item) {
                        if (index > 5 && index < 12) {
                            $(".divShuPaiFeiLeiDaoHang_ul2_create" + j).append($(item));
                        }
                    })
                }
            }
        } else {
            if (li.length > 0) {
                li.parent().parent().width(222);
            }
        }
    }

    var divJingMeiDanPinContentData = [
        {

            shopType: "Phone",//商品类型
            shopModel: "xiaomi5", //商品类型下级
            ImgSrc: "http://i3.mifile.cn/a4/40d24892-317d-4883-ad63-647f1b9e3cdf",
            ImgAlt: "",
            Name: "小米5 高配",
            JiaGe: "2055元"
        },
        {
            shopType: "Phone",
            shopModel: "xiaomi5",
            ImgSrc: "http://i3.mifile.cn/a4/0df5d106-ab01-4013-87de-a9793094245d",
            ImgAlt: "",

            Name: "小米Max 优惠200元",
            JianShu: "128GB大容量，4850mAh大电池",
            JiaGe: "1799元"
        },
        {

            shopType: "Phone",
            shopModel: "xiaomi5",
            ImgSrc: "http://i3.mifile.cn/a4/f35e0d0a-afae-443c-a7e6-3a49c40e2df1",
            ImgAlt: "",

            Name: "红米Pro 十核双摄",
            JianShu: "购机即送Type-C转接头",
            JiaGe: "1499元起"
        },
        {

            shopType: "Phone",
            shopModel: "xiaomi5",
            ImgSrc: "http://i3.mifile.cn/a4/46efda8b-672a-41a0-8ea9-434b746e5c62",
            ImgAlt: "",

            Name: "小米笔记本",
            JianShu: "独立显卡、超轻薄、金属机身",
            JiaGe: "3499元起"
        },
        {

            shopType: "Phone",
            shopModel: "xiaomi5",
            ImgSrc: "http://i3.mifile.cn/a4/4c68c352-fbd3-452d-be90-7b47e4f6ce76",
            ImgAlt: "",

            Name: "小米平板2 16GB现货",
            JianShu: "轻薄全金属，海量内容",
            JiaGe: "999元"
        },
         {
             ImgWaiLink: "",
             shopType: "Phone",
             shopModel: "xiaomi5",
             ImgSrc: "http://i3.mifile.cn/a4/74dd9736-f254-4964-a06a-24f0befb21ac",
             ImgAlt: "",

             Name: "小米电视3S 48英寸",
             JianShu: "原装液晶屏，金属机身",
             JiaGe: "1999元"
         },
        {
            ImgWaiLink: "",
            shopType: "Phone",
            shopModel: "xiaomi5",
            ImgSrc: "http://i3.mifile.cn/a4/T146YgBKhv1RXrhCrK.jpg",
            ImgAlt: "",

            Name: "小米盒子3 增强版",
            JianShu: "高端 4K 网络机顶盒",
            JiaGe: "399元"
        },
        {
            ImgWaiLink: "",
            shopType: "Phone",
            shopModel: "xiaomi5",
            ImgSrc: "http://i3.mifile.cn/a4/6ef55907-bbed-49be-a2bb-be0821b5f7b8",
            ImgAlt: "",
            NameWaiALink: "http://www.aizheaina.com/Buy/phone",
            Name: "小米手环 2",
            JianShu: "每天早10点开售",
            JiaGe: "149元"
        }
    ,
        {
            ImgWaiLink: "",
            shopType: "Phone",
            shopModel: "xiaomi5",
            ImgSrc: "http://i3.mifile.cn/a4/d663ce13-c814-4f35-a7a8-46a4745e6fd7",
            ImgAlt: "",

            Name: "小米体重秤",
            JianShu: "100克，喝杯水都可感知的精准",
            JiaGe: "99元"
        },
        {

            shopType: "Phone",
            shopModel: "xiaomi5",
            ImgSrc: "http://i3.mifile.cn/a4/T1d__jBQYT1RXrhCrK.jpg",
            ImgAlt: "",

            Name: "小米空气净化器2",
            JianShu: "10分钟，房间空气焕然一新",
            JiaGe: "699元"
        }
    ];

    var divJingMeiDanPinContent_Template = Handlebars.compile($("#divJingMeiDanPinContent_Template").html());
    $("#divJingMeiDanPinContent").html(divJingMeiDanPinContent_Template(divJingMeiDanPinContentData));

    var divDaPeiRight1 = {
        FenLeiCnName: "热门",
        FenLeiEnName: "reMen",
        Content: [
                   {
                       shopType: "Phone",//商品类型
                       shopModel: "xiaomi5", //商品类型下级
                       isShowDetails: false,
                       ImgSrc: "http://i2.mifile.cn/a1/T12HJvByEv1RXrhCrK.jpg?width=150&height=150",
                       ImgAlt: "",
                       Name: "小米移动电源10000mAh",
                       JiaGe: "79元",
                       PingJiaShuLiang: "1.9万评价",
                       PingJiaID: 1,
                       PingJia: "真的好好",
                       PingJiaRenName: "来自张赛的评价",
                       TeDian: "新品"
                   },
                    {
                        shopType: "Phone",
                        shopModel: "xiaomi5",
                        isShowDetails: false,
                        ImgSrc: "http://i2.mifile.cn/a1/T1ycK_BjYv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米圈铁耳机",
                        JiaGe: "99元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJiaID: 1,
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        shopType: "Phone",
                        shopModel: "xiaomi5",
                        isShowDetails: false,
                        ImgSrc: "http://i2.mifile.cn/a1/T1eSZgBjVT1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米移动电源10000mAh 高配版",
                        JiaGe: "1499元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJiaID: 1,
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "新品"
                    },
                    {
                        shopType: "Phone",
                        shopModel: "xiaomi5",
                        isShowDetails: false,
                        ImgSrc: "http://i2.mifile.cn/a1/T12HJvByEv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米移动电源10000mAh",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJiaID: 1,
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "免邮"
                    },
                    {
                        shopType: "Phone",
                        shopModel: "xiaomi5",
                        isShowDetails: false,
                        ImgSrc: "http://i2.mifile.cn/a1/T190DvB4dv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米蓝牙耳机",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJiaID: 1,
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        shopType: "Phone",
                        shopModel: "xiaomi5",
                        isShowDetails: false,
                        ImgSrc: "http://i2.mifile.cn/a1/T12HJvByEv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米移动电源10000mAh",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJiaID: 1,
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "免邮"
                    },
                    {
                        shopType: "Phone",
                        shopModel: "xiaomi5",
                        isShowDetails: false,
                        ImgSrc: "http://i2.mifile.cn/a1/pms_1463579883.27084326.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米插线排",
                        JiaGe: "49元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJiaID: 1,
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "张赛"
                    },
                    {
                        shopType: "Phone",
                        shopModel: "xiaomi5",
                        isShowDetails: false,
                        ImgSrc: "http://i2.mifile.cn/a1/T12HJvByEv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米移动电源10000mAh",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJiaID: 1,
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    }
    //,
    //                {
    //                    shopType: "Phone",
    //                    shopModel: "xiaomi5",
    //                    isShowDetails: false,
    //                    ImgSrc: "http://i2.mifile.cn/a1/T1F5K_BjVv1RXrhCrK.jpg?width=150&height=150",
    //                    ImgAlt: "",
    //                    Name: "小米小钢炮蓝牙音箱2",
    //                    JiaGe: "129元",
    //                    PingJiaShuLiang: "1.9万评价",
    //                    PingJiaID: 1,
    //                    PingJia: "真的好好",
    //                    PingJiaRenName: "来自张赛的评价",
    //                    TeDian: "牛逼"
    //                },
    //                {
    //                    shopType: "Phone",
    //                    shopModel: "xiaomi5",
    //                    isShowDetails: false,
    //                    ImgSrc: "http://i1.mifile.cn/a1/T15hZ_BsDv1RXrhCrK!220x220.jpg",
    //                    ImgAlt: "",
    //                    Name: "小米小钢炮蓝牙音箱 青春版",
    //                    JiaGe: "99元",
    //                    TeDian: "起飞"
    //                }
        ]
    };
    var divDaPeiRight_Template = Handlebars.compile($("#divDaPeiRight_Template").html());
    $("#divDaPeiRight").html(divDaPeiRight_Template(divDaPeiRight1));

    var divDaPeiRight2 = {
        FenLeiCnName: "耳机",
        FenLeiEnName: "erJi",
        Content: [
                   {
                       aDaPeiImgLink: "",
                       aDaPeiNameLink: "",
                       aDaPeiMiaoShu2Link: "",
                       ImgSrc: "http://i1.mifile.cn/a1/pms_1467184989.74561304!220x220.jpg",
                       ImgAlt: "",
                       Name: "小米圈铁耳机 银色",
                       JiaGe: "99元",
                       PingJiaShuLiang: "1.9万评价",
                       PingJia: "真的好好",
                       PingJiaRenName: "来自张赛的评价",
                       TeDian: "我想"
                   },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1ycK_BjYv1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米圈铁耳机",
                        JiaGe: "99元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "我玩"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1SkV_BCd_1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米胶囊耳机",
                        JiaGe: "69元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T190DvB4dv1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米蓝牙耳机",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "搞飞机"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T190DvB4dv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米蓝牙耳机",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1LqYgBCWv1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米随身蓝牙音箱",
                        JiaGe: "69元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "真带劲"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/pms_1463579883.27084326.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米小钢炮蓝牙音箱2",
                        JiaGe: "129元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "真带劲"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1yf__BjAT1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米蓝牙音箱",
                        JiaGe: "199元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "来啦"
                    }
                    //,
                    //{
                    //    aDaPeiImgLink: "",
                    //    aDaPeiNameLink: "",
                    //    aDaPeiMiaoShu2Link: "",
                    //    ImgSrc: "http://i2.mifile.cn/a1/T1F5K_BjVv1RXrhCrK.jpg?width=150&height=150",
                    //    ImgAlt: "",
                    //    Name: "小米小钢炮蓝牙音箱2",
                    //    JiaGe: "129元",
                    //    PingJiaShuLiang: "1.9万评价",
                    //    PingJia: "真的好好",
                    //    PingJiaRenName: "来自张赛的评价",
                    //    TeDian: "滚吧"
                    //},
                    //{
                    //    aDaPeiImgLink: "",
                    //    aDaPeiNameLink: "",
                    //    ImgSrc: "http://i1.mifile.cn/a1/T15hZ_BsDv1RXrhCrK!220x220.jpg",
                    //    ImgAlt: "",
                    //    Name: "小米小钢炮蓝牙音箱 青春版",
                    //    JiaGe: "99元",
                    //    TeDian: 1
                    //}
        ]
    };

    var divZhiNengYingJianRightData = [
                   {
                       shopType: "Phone",//商品类型
                       shopModel: "xiaomi5", //商品类型下级
                       isShowDetails: true,
                       ImgSrc: "http://i3.mifile.cn/a4/376f5f19-d1f5-4f87-8ef9-38e86891bc87",
                       ImgAlt: "",
                       Name: "小米路由器3",
                       JiaGe: "149元",
                       JianShu: "四天线设计，更安全更稳定",
                       PingJiaID: 1,
                       PingJia: "真的好好",
                       PingJiaRenName: "来自张赛的评价",
                       TeDian: "我想"
                   },
                    {
                        shopType: "Phone",//商品类型
                        shopModel: "xiaomi5", //商品类型下级
                        isShowDetails: false,
                        ImgSrc: "http://i3.mifile.cn/a4/2b69b930-a2fd-4d09-a46a-8690cb79f764",
                        ImgAlt: "",
                        Name: "电助力折叠自行车",
                        JiaGe: "2999元",
                        JianShu: "力矩传感电助力，折叠便携设计",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "我玩"
                    },
                    {
                        shopType: "Phone",//商品类型
                        shopModel: "xiaomi5", //商品类型下级
                        isShowDetails: false,
                        ImgSrc: "http://i1.mifile.cn/a1/pms_1474338357.52216545!220x220.jpg",
                        ImgAlt: "",
                        Name: "米兔定位电话",
                        JiaGe: "169元",
                        JianShu: "时刻定位，守护你所爱",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        shopType: "Phone",//商品类型
                        shopModel: "xiaomi5", //商品类型下级
                        isShowDetails: false,
                        ImgSrc: "http://i1.mifile.cn/a1/T1PXhgBbdT1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米蓝牙耳机",
                        JiaGe: "79元",
                        JianShu: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "搞飞机"
                    },
                    {
                        shopType: "Phone",//商品类型
                        shopModel: "xiaomi5", //商品类型下级
                        isShowDetails: false,
                        ImgSrc: "http://i2.mifile.cn/a1/T190DvB4dv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "九号平衡车",
                        JiaGe: "1999元",
                        JianShu: "年轻人的酷玩具，骑行遥控两种玩法",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        shopType: "Phone",//商品类型
                        shopModel: "xiaomi5", //商品类型下级
                        isShowDetails: false,
                        ImgSrc: "http://i1.mifile.cn/a1/pms_1464615180.86261317!220x220.jpg",
                        ImgAlt: "",
                        Name: "米兔智能故事机",
                        JiaGe: "199元",
                        JianShu: "宝宝又不好好吃饭，让米兔来哄宝宝",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "真带劲"
                    },
                    {
                        shopType: "Phone",//商品类型
                        shopModel: "xiaomi5", //商品类型下级
                        isShowDetails: false,
                        ImgSrc: "http://i2.mifile.cn/a1/pms_1463579883.27084326.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米小钢炮蓝牙音箱2",
                        JiaGe: "129元",
                        JianShu: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "真带劲"
                    },
                    {
                        shopType: "Phone",//商品类型
                        shopModel: "xiaomi5", //商品类型下级
                        isShowDetails: false,
                        ImgSrc: "http://i1.mifile.cn/a1/T1OVC_ByY_1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "米家压力IH电饭煲",
                        JiaGe: "999元",
                        JianShu: "智能定时烹饪，花呗6期免息",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "来啦"
                    }
    //,
                    //{
                    //    shopType: "Phone",//商品类型
                    //    shopModel: "xiaomi5", //商品类型下级
                    //    isShowDetails: false,
                    //    ImgSrc: "http://i1.mifile.cn/a1/pms_1469583266.7193851!220x220.jpg",
                    //    ImgAlt: "",
                    //    Name: "小米笔记本Air 12.5英寸",
                    //    JiaGe: "3499元",
                    //    JianShu: "更轻更薄，像杂志一样随身携带",
                    //    PingJia: "真的好好",
                    //    PingJiaRenName: "来自张赛的评价",
                    //    TeDian: "滚吧"
                    //},
                    //{
                    //    shopType: "Phone",//商品类型
                    //    shopModel: "xiaomi5", //商品类型下级
                    //    isShowDetails: false,
                    //    ImgSrc: "http://i1.mifile.cn/a1/pms_1464071511.37197399!220x220.jpg",
                    //    ImgAlt: "",
                    //    Name: "米家 LED 智能台灯",
                    //    JiaGe: "169元",
                    //    JianShu: "无可视频闪，亮度色温无级调节",
                    //    PingJia: "真的好好",
                    //    PingJiaRenName: "来自张赛的评价",
                    //    TeDian: "滚吧"
                    //}
    ];

    var divZhiNengYingJianRight_Template = Handlebars.compile($("#divZhiNengYingJianRight_Template").html());
    $("#divZhiNengYingJianRight").html(divZhiNengYingJianRight_Template(divZhiNengYingJianRightData));

    var divZhiNengYingJianRight_Template = Handlebars.compile($("#divZhiNengYingJianRight_Template").html());
    $("#divZhiNengYingJianRight2").html(divZhiNengYingJianRight_Template(divZhiNengYingJianRightData));
</script>
<script type="text/javascript">
    var lunBoAnNiuClickJiShu = 0, lunBoJinMeiDanPinAnNiuShu = 0;
    $(function () {
        //搭配选项切换
        $("#ulDaPeiFenLei li").each(function (index, item) {
            $(item).hover(function () {
                switch ($(item).html()) {
                    case "热门":
                        DaPeiShow("reMen");
                        break;
                    case "耳机音箱":
                        DaPeiShow("erJi");
                        break;
                    case "数据线":
                        DaPeiShow("shuJuXian");
                        break;
                    case "电源":
                        break;
                    case "电池储存卡":
                        break;
                    default:
                };
            });
        });

        //竖排导航每个li中的内容出现和隐藏
        $("#divShuPaiFeiLeiDaoHang ul li div").each(function (index, item) {
            TemplateZs2($(item))
        });

        //精美单品
        $("#divJingMeiDanPinContent").ZSImgLunBo({
            lunBoFangShi: "toleft",
            isShowLunBoBiaoShi: false,
            isShowLunBoAnNiu: false,
            toInt: 5,
            ziDingYiLunBoAnNiuClassName: "liJingMeiDanPinLunBoAnNiu",
            renderingMethod: "html",
            ziDongLunBoMiao: 7,
            iSZiDongLunBo_Automatic: true,
        })
        ////大图轮播
        $("#divLunBoImgWai").ZSImgLunBo({
            jsonData: '{"data":[{"href":"","src":"http://i3.mifile.cn/a4/f4bee59d-85a5-498f-ae57-a2cabe6aeb5b"},{"href":"","src":"http://i3.mifile.cn/a4/f176643a-7db7-42e9-a4e5-f4d3bf9720f5 2x"},{"href":"","src":"http://i3.mifile.cn/a4/467eeee4-0e6b-41a0-b789-4373fa45a5a6 2x"},{"href":"","src":"http://i3.mifile.cn/a4/3d0a39fe-082f-420b-8857-eadd3b2e148c 2x"}]}',
            lunBoFangShi: "fade",
        });
        //搭配描述的出现与消失
        $(".my-ultempplate-div1").hover(function () {
            $(this).find(".divDaPeiRightMiaoShu2").css({ "height": "90px", "opacity": 1 });
        }, (function () {
            $(this).find(".divDaPeiRightMiaoShu2").css({ "height": "0px", "opacity": 1 });
        }));
    });

    function DaPeiShow(FenLeiEnName) {
        var isYiJiaZai = false;
        $(".ulDaPeiN").each(function (index, item) {
            if ($(item).attr("FenLeiEnName") == FenLeiEnName) {
                isYiJiaZai = true;
                return false;
            }
        });
        if (isYiJiaZai) {
            $(".ulDaPeiN").each(function (index, item) {
                if ($(item).attr("FenLeiEnName") == FenLeiEnName) {
                    $(item).show();
                } else {
                    $(item).hide();
                }
            });
        } else {
            //此处相当于ajax请求后台获取数据
            if (FenLeiEnName == "erJi") {
                //相当于请求成功后，否则后死循环
                $("#divDaPeiRight").html($("#divDaPeiRight").html() + divDaPeiRight_Template(divDaPeiRight2));
                $(".my-ultempplate-div1").hover(function () {
                    $(this).find(".divDaPeiRightMiaoShu2").css({ "height": "90px", "opacity": 1 });
                }, (function () {
                    $(this).find(".divDaPeiRightMiaoShu2").css({ "height": "0px", "opacity": 1 });
                }));
                DaPeiShow(FenLeiEnName);
            }
        };
    };

    function TuPianZiShiYing(select) {
        if (select.toLocaleLowerCase != "img") {
            select += " img";
        }
        $(select).each(function (index, item) {
            $(item).height($(item).parents("div").height());
            $(item).width($(item).parents("div").width());
        });
    };
</script>









@*q js sdk 登录*@
@*
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101346412" charset="utf-8">    //data-callback="true" 这条js加入此属性则会返回点击登录的页面</script>
    <script type="text/javascript">
        QC.Login.getMe(function (openId, accessToken) {
            alert(openId);
            ajax提交后台处理
            //return false;
        })

    </script>*@
@*//qq js sdk 登录*@


