
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}
<link href="~/Scripts/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
<style type="text/css">
    #divShuPaiFeiLeiDaoHang {
        width: 20%;
        float: left;
    }

        #divShuPaiFeiLeiDaoHang ul {
            background-color: #5C544C;
            color: #ffffff;
        }
            /*#divShuPaiFeiLeiDaoHang ul li:not(:first-child)  {
            padding-top: 20px;
        }*/
            #divShuPaiFeiLeiDaoHang ul li {
                padding-top: 15px;
                padding-bottom: 15px;
            }

                #divShuPaiFeiLeiDaoHang ul li:hover {
                    background-color: #ff6a00;
                }

                #divShuPaiFeiLeiDaoHang ul li a {
                    color: #ffffff;
                    text-decoration: none;
                }

                #divShuPaiFeiLeiDaoHang ul li div {
                    /*width: calc(1450*0.2px);*/
                    height: 500px;
                    position: absolute;
                    z-index: 20;
                    display: none;
                }

    ul li:hover {
        cursor: pointer;
    }

    a:hover {
        cursor: pointer;
    }

    #ulKuaiSuZhiDa3GeImgLianJie {
        height: 200px;
    }

        #ulKuaiSuZhiDa3GeImgLianJie li div {
            width: 365px;
            height: 200px;
        }

    #divKuaiSuZhiDa6GePuTongLianJie {
        width: 20%;
        float: left;
        border: 1px solid #ff6a00;
        background-color: rosybrown;
    }

        #divKuaiSuZhiDa6GePuTongLianJie li {
            height: 90px;
            width: 30%;
            padding: 15px 0 15px 0;
            border: 1px solid #b6ff00;
        }

    #divJingMeiDanPin {
        width: 5%;
        float: right;
    }

        #divJingMeiDanPin ul li {
            width: 30px;
            height: 30px;
            cursor: pointer;
            padding-top: 4px;
            border: 1px solid #bfbebe;
        }

        #divJingMeiDanPin li:hover {
            background-color: #ff6a00;
        }


    .ulJingMeiDanPin {
        display: none;
    }

        .ulJingMeiDanPin:first-child {
            display: block;
        }

        .ulJingMeiDanPin li div {
            width: 277px;
            height: 300px;
        }

            .ulJingMeiDanPin li div img {
                width: 130px;
                height: 170px;
            }

            .ulJingMeiDanPin li div div {
                width: 277px;
                height: 80px;
            }

    #ulDaPeiFenLei {
        width: 300px;
    }

        #ulDaPeiFenLei li:hover {
            color: #ff6a00;
            font-size: 24px;
        }

    #ulDaPei1 li div {
        width: 220px;
        height: 320px;
    }

    #ulDaPei1, .ulDaPeiN {
        margin-top: 10px;
    }

    .ulDaPeiN {
        display: none;
    }

        .ulDaPeiN:first-child {
            display: block;
        }

        #ulDaPei1 li, .ulDaPeiN li {
            padding-top: 5px;
            padding-bottom: 5px;
        }

            .ulDaPeiN li div {
                width: 230px;
                height: 320px;
            }

    #divLunBoImgWai {
        width: 80%;
        float: right;
        position: relative;
    }

    #divLunBoImg a {
        display: inline-block;
        width: 100%;
        height: 500px;
        display: none;
    }

        #divLunBoImg a:first-child {
            display: block;
        }

    #divLunBoAnNiuIndivLunBoImg div {
        position: absolute;
        top: 40%;
        z-index: 6;
        height: 70px;
        width: 70px;
        line-height: 70px;
        font-size: 30px;
    }

        #divLunBoAnNiuIndivLunBoImg div:hover {
            background-color: #b3b8ba;
            cursor: pointer;
        }

        #divLunBoAnNiuIndivLunBoImg div:first-child {
            left: 10px;
        }

        #divLunBoAnNiuIndivLunBoImg div:last-child {
            right: 10px;
        }

    #divLunBoBiaoShiIndivLunBoImg {
        position: absolute;
        bottom: 10px;
        z-index: 6;
        line-height: 30px;
        right: 100px;
        font-size: 20px;
    }
</style>
<script src="~/Scripts/jq/jquery-2.1.4/jquery.js"></script>
<script type="text/javascript">
    var lunBoAnNiuClickJiShu = 0, lunBoJinMeiDanPinAnNiuShu = 0;
    $(function () {
        //图片的大小超过容器后更改图片的大小为容器的大小
        TuPianZiShiYing("img");
        //搭配选项切换
        $("#ulDaPeiFenLei li").each(function (index, item) {
            $(item).hover(function () {
                switch ($(item).html()) {
                    case "耳机音箱":
                        DaPeiShow("erJi");
                        break;
                    case "数据线":
                        DaPeiShow("shuJuXian");
                        break;
                    case "电源":
                        break;
                    case "电池储存卡":
                        break;
                    default:
                };
            });
        });

        //竖排导航每个li中的内容出现和隐藏
        $("#divShuPaiFeiLeiDaoHang ul li div").each(function (index, item) {
            var $d = $(item);
            var bcolor = "#00ff21", width = "300px";
            if (index % 2 == 0) {
                bcolor = "#f19a9a";
                width = "400px";
            }
            $d.css({ "left": $(window).width() * 0.12 + $d.parents("div").width(), "top": $d.parents("div").offset().top, "background-color": bcolor, "width": width }).html(index);

            $d.parent().mousemove(function () {
                $(this).children("div").show();
            });
            $d.parent().mouseout(function () {
                $(this).children("div").hide();
            });
            $d.mousemove(function () {
                $(this).show();
            });
            $d.mouseout(function () {
                $(this).hide();
            });
        });

        //大图点击轮播
        GenJuImgShuShengChengBiaoShi("#divLunBoImg a img", "#divLunBoBiaoShiIndivLunBoImg ul");
        $("#divLunBoImg").mousemove(function () {
            clearInterval(daTuZiDongLunBoID);
        });
        $("#divLunBoImg").mouseout(function () {
            DaTuZiDongLunBo();
        });
        $("#divLunBoAnNiuIndivLunBoImg div").each(function (index, item) {
            var $i = $(item);
            if (index == 0) {
                //后退
                $i.click(function () {
                    clearInterval(daTuZiDongLunBoID);
                    if (lunBoAnNiuClickJiShu == 0) {
                        lunBoAnNiuClickJiShu = $("#divLunBoImg a").length - 1;
                    } else {
                        lunBoAnNiuClickJiShu--;
                    }
                    $("#divLunBoImg a").each(function () {
                        $(this).hide();
                    });
                    $("#divLunBoBiaoShiIndivLunBoImg ul li").each(function () {
                        $(this).html("○");
                    });
                    $("#divLunBoBiaoShiIndivLunBoImg ul li").eq(lunBoAnNiuClickJiShu).html("●");
                    $("#divLunBoImg a").eq(lunBoAnNiuClickJiShu).show();
                    // TuPianZiShiYing("#divLunBoImg img");
                    DaTuZiDongLunBo();
                });
            } else {
                //前进
                $i.click(function () {
                    clearInterval(daTuZiDongLunBoID);
                    if ($("#divLunBoImg a").length - 1 == lunBoAnNiuClickJiShu) {
                        lunBoAnNiuClickJiShu = 0;
                    } else {
                        lunBoAnNiuClickJiShu++;
                    }
                    $("#divLunBoImg a").each(function () {
                        $(this).hide();
                    });
                    $("#divLunBoBiaoShiIndivLunBoImg ul li").each(function () {
                        $(this).html("○");
                    });
                    $("#divLunBoBiaoShiIndivLunBoImg ul li").eq(lunBoAnNiuClickJiShu).html("●");
                    $("#divLunBoImg a").eq(lunBoAnNiuClickJiShu).show();
                    //TuPianZiShiYing("#divLunBoImg img");
                    DaTuZiDongLunBo();
                });
            };
            $(this).mousemove(function () {
                $("#divLunBoImg").mousemove();
            });
            $(this).mouseout(function () {
                $("#divLunBoImg").mouseout();
            })
            if (index == 0) {
                $("#divLunBoBiaoShiIndivLunBoImg ul li").each(function () {
                    $(this).mousemove(function () {
                        $("#divLunBoImg").mousemove();

                        $("#divLunBoImg a").each(function () {
                            $(this).hide();
                        });
                        $("#divLunBoBiaoShiIndivLunBoImg ul li").each(function () {
                            $(this).html("○");
                        });
                        $("#divLunBoBiaoShiIndivLunBoImg ul li").eq($(this).index()).html("●");
                        $("#divLunBoImg a").eq($(this).index()).show();
                    });
                    $(this).mouseout(function () {
                        $("#divLunBoImg").mouseout();
                    })
                });
            };
        });
        DaTuZiDongLunBo();




        //精美单品击轮播
        $("#divJingMeiDanPinContent").mousemove(function () {
            clearInterval(jingMeiDanPInZiDongLunBoID);
        });
        $("#divJingMeiDanPinContent").mouseout(function () {
            JingMeiDanPinZiDongLunBo();
        });
        $("#divJingMeiDanPin ul li").each(function (index, item) {
            var $i = $(item);
            if (index == 0) {
                //后退
                $i.click(function () {
                    clearInterval(jingMeiDanPInZiDongLunBoID);
                    if (lunBoJinMeiDanPinAnNiuShu == 0) {
                        lunBoJinMeiDanPinAnNiuShu = $("#divJingMeiDanPinContent ul").length - 1;
                    } else {
                        lunBoJinMeiDanPinAnNiuShu--;
                    }
                    $("#divJingMeiDanPinContent ul").each(function () {
                        $(this).hide();
                    });
                    $("#divJingMeiDanPinContent ul").eq(lunBoJinMeiDanPinAnNiuShu).show();
                    JingMeiDanPinZiDongLunBo();
                });
            } else {
                //前进
                $i.click(function () {
                    clearInterval(jingMeiDanPInZiDongLunBoID);
                    if ($("#divJingMeiDanPinContent ul").length - 1 == lunBoJinMeiDanPinAnNiuShu) {
                        lunBoJinMeiDanPinAnNiuShu = 0;
                    } else {
                        lunBoJinMeiDanPinAnNiuShu++;
                    }
                    $("#divJingMeiDanPinContent ul").each(function () {
                        $(this).hide();
                    });
                    $("#divJingMeiDanPinContent ul").eq(lunBoJinMeiDanPinAnNiuShu).show();
                    JingMeiDanPinZiDongLunBo();
                });
            };
            $(this).mousemove(function () {
                $("#divJingMeiDanPinContent").mousemove();
            });
            $(this).mouseout(function () {
                $("#divJingMeiDanPinContent").mouseout();
            })
        });
        JingMeiDanPinZiDongLunBo();
    });

    function DaPeiShow(leiname) {
        $(".ulDaPeiN").each(function (index, item) {
            if ($(item).attr("leiname") == leiname) {
                $(item).show();
            } else {
                $(item).hide();
            }
        });
    };

    function TuPianZiShiYing(select) {
        $(select).each(function (index, item) {
            $(item).height($(item).parents("div").height());
            $(item).width($(item).parents("div").width());
        });
    };

    //大图自动轮播和前进一样
    function DaTuZiDongLunBo() {
        daTuZiDongLunBoID = setInterval(function () {
            if ($("#divLunBoImg a").length - 1 == lunBoAnNiuClickJiShu) {
                lunBoAnNiuClickJiShu = 0;
            } else {
                lunBoAnNiuClickJiShu++;
            }
            $("#divLunBoImg a").each(function () {
                $(this).hide();
            });
            $("#divLunBoBiaoShiIndivLunBoImg ul li").each(function () {
                $(this).html("○");
            });
            $("#divLunBoBiaoShiIndivLunBoImg ul li").eq(lunBoAnNiuClickJiShu).html("●");
            $("#divLunBoImg a").eq(lunBoAnNiuClickJiShu).show();
            TuPianZiShiYing("#divLunBoImg img");
        }, 4000);
    };

    //精美单品自动轮播和前进一样
    function JingMeiDanPinZiDongLunBo() {
        jingMeiDanPInZiDongLunBoID = setInterval(function () {
            if ($("#divJingMeiDanPinContent ul").length - 1 == lunBoJinMeiDanPinAnNiuShu) {
                lunBoJinMeiDanPinAnNiuShu = 0;
            } else {
                lunBoJinMeiDanPinAnNiuShu++;
            }
            $("#divJingMeiDanPinContent ul").each(function () {
                $(this).hide();
            });
            $("#divJingMeiDanPinContent ul").eq(lunBoJinMeiDanPinAnNiuShu).show();
        }, 3000);

    };

    //根据图片的多少生成<li>○</li>
    function GenJuImgShuShengChengBiaoShi(select, appendToSelect) {
        $(select).each(function (index, item) {
            if (index == 0) {
                $(appendToSelect).append($("<li>●</li>"));
            } else {
                $(appendToSelect).append($("<li>○</li>"));
            }
        });
    };
</script>
<div style="width: 100%">
    <div style="width: 1450px;background-color:#cbc8c8;margin-left:12%;height:500px;">
        <div id="divShuPaiFeiLeiDaoHang" miaoshu="竖排分类导航">
            <ul class="list-unstyled text-center">
                <li>
                    <a>手机电话卡</a>
                    <div>

                    </div>
                </li>
                <li>
                    <a>笔记本 平板</a>
                    <div>

                    </div>
                </li>
                <li>
                    <a>电视 盒子</a>
                    <div>

                    </div>
                </li>
                <li>
                    <a>路由器 智能硬件</a>
                    <div>

                    </div>
                </li>
                <li>
                    <a>移动电源 电池 插排</a>
                    <div>

                    </div>
                </li>
                <li>
                    <a>耳机 音响</a>
                    <div>

                    </div>
                </li>
                <li>
                    <a>保护套 贴膜</a>
                    <div>

                    </div>
                </li>
                <li>
                    <a>线材 支架 存储卡</a><div>

                    </div>
                </li>
                <li>
                    <a>箱包 服饰</a><div>

                    </div>
                </li>
                <li>
                    <a>米兔 生活周边</a>
                    <div>

                    </div>
                </li>
            </ul>
        </div>
        <div id="divLunBoImgWai">
            <div id="divLunBoImg" miaoshu="滚动大图">
                <a href=""><img src="http://i3.mifile.cn/a4/f4bee59d-85a5-498f-ae57-a2cabe6aeb5b"></a>
                <a href="https://www.baidu.com/"><img src="http://i3.mifile.cn/a4/f176643a-7db7-42e9-a4e5-f4d3bf9720f5 2x"></a>
                <a href="https://www.baidu.com/"><img src="http://i3.mifile.cn/a4/467eeee4-0e6b-41a0-b789-4373fa45a5a6 2x"></a>
                <a href="https://www.baidu.com/"><img src="http://i3.mifile.cn/a4/3d0a39fe-082f-420b-8857-eadd3b2e148c 2x"></a>
            </div>
            <div id="divLunBoAnNiuIndivLunBoImg">
                <div class="text-center">
                    <
                </div>
                <div class="text-center">
                    >
                </div>
            </div>

            <div id="divLunBoBiaoShiIndivLunBoImg">
                <ul class="list-inline"></ul>
            </div>
        </div>
    </div>

    <div style="width: 1450px;margin:10px auto auto 12%;height:200px;">
        <div id="divKuaiSuZhiDa6GePuTongLianJie" miaoshu="快速直达-6个普通链接小分类">
            <div>
                <ul class="list-inline text-center">
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                </ul>
            </div>
            <div>
                <ul class="list-inline text-center">
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                </ul>
            </div>
        </div>

        <div style="width:78%;float:right;" miaoshu="快速直达-3个小图展示链接小分类">
            <ul class="list-inline" id="ulKuaiSuZhiDa3GeImgLianJie">
                <li>
                    <div>
                        <img src="http://i3.mifile.cn/a4/b16fa801-335d-4b38-9dbd-d1f3371307ee" alt="小米Max赠风扇">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://i3.mifile.cn/a4/c202123c-4197-4666-9793-2f1e156ab23a" alt="红米pro-0820">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://i3.mifile.cn/a4/e871ec13-077d-43ef-b5a5-25344f560f1d" alt="VR开售预告">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div style="width: 1450px;height:50px;margin:10px auto auto 12%;">
        <div style="float:left;font-size:24px">
            精美单品
        </div>
        <div id="divJingMeiDanPin">
            <p />
            <p />
            <p />
            <ul class="text-center list-inline">
                <li>
                    <
                </li>
                <li>
                    >
                </li>
            </ul>
        </div>
    </div>
    <div id="divJingMeiDanPinContent" style="width: 1450px;height:400px;margin:10px auto auto 12%;" class="text-center">
        <ul class="list-inline ulJingMeiDanPin">
            <li>
                <a>
                    <div style="border-top:1px solid #ffd800">
                        <img src="http://i3.mifile.cn/a4/40d24892-317d-4883-ad63-647f1b9e3cdf" alt="1">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div style="border-top:1px solid #b6ff00">
                        <img src="http://i3.mifile.cn/a4/0df5d106-ab01-4013-87de-a9793094245d" alt="2">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div style="border-top:1px solid #ff0000">
                        <img src="http://i3.mifile.cn/a4/a8a21b9a-1b93-467d-baf3-1653976c4bdf" alt="3">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div style="border-top:1px solid #00ff21">
                        <img src="http://i3.mifile.cn/a4/4c68c352-fbd3-452d-be90-7b47e4f6ce76" alt="4">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div style="border-top:1px solid #4bef95">
                        <img src="http://i3.mifile.cn/a4/4c68c352-fbd3-452d-be90-7b47e4f6ce76" alt="5">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <ul class="list-inline ulJingMeiDanPin" style="display:none">
            <li>
                <a>
                    <div style="border-top:1px solid #ffd800">
                        <img src="http://i3.mifile.cn/a4/4c68c352-fbd3-452d-be90-7b47e4f6ce76" alt="1">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div style="border-top:1px solid #b6ff00">
                        <img src="http://i3.mifile.cn/a4/a8a21b9a-1b93-467d-baf3-1653976c4bdf" alt="2">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div style="border-top:1px solid #ff0000">
                        <img src="http://i3.mifile.cn/a4/0df5d106-ab01-4013-87de-a9793094245d" alt="3">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div style="border-top:1px solid #00ff21">
                        <img src="http://i3.mifile.cn/a4/0df5d106-ab01-4013-87de-a9793094245d" alt="4">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div style="border-top:1px solid #4bef95">
                        <img src="http://i3.mifile.cn/a4/40d24892-317d-4883-ad63-647f1b9e3cdf" alt="5">
                        <div>
                            买啊买啊
                            <br />
                            买啊买啊
                            <br />
                            1899元
                        </div>
                    </div>
                </a>
            </li>
        </ul>

    </div>

    <div style="width: 1450px;height:50px;margin:10px auto auto 12%;">
        <div style="float:left;font-size:24px">
            搭配
        </div>
        <div style="width:20%;float:right;">
            <p />
            <p />
            <p />
            <ul class="list-inline text-center" id="ulDaPeiFenLei">
                <li>耳机音箱</li>
                <li>数据线</li>
                <li>电源</li>
                <li>电池储存卡</li>
            </ul>
        </div>
    </div>

    <div style="width: 1450px;height:665px;margin:3px auto auto 12%;">
        <div style="float:left;width:15%;">
            <ul class="text-center list-inline" id="ulDaPei1">
                <li>
                    <div>
                        <img alt="1" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="1" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
            </ul>
        </div>
        <div style="float:right;width:85%;">
            <ul class="text-center list-inline ulDaPeiN" leiname="erJi">
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
            </ul>

            <ul class="text-center list-inline ulDaPeiN" leiname="shuJuXian">
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="" src="http://i3.mifile.cn/a4/ffe46b8a-6c97-4b92-a053-da243df50e23">
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>































@*q js sdk 登录*@
@*
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101346412" charset="utf-8">    //data-callback="true" 这条js加入此属性则会返回点击登录的页面</script>
    <script type="text/javascript">
        QC.Login.getMe(function (openId, accessToken) {
            alert(openId);
            ajax提交后台处理
            //return false;
        })

    </script>*@
@*//qq js sdk 登录*@


