
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}
<style type="text/css">
    /*ul li:hover {
        cursor: pointer;
    }*/

    a:hover {
        cursor: pointer;
    }

    #divShuPaiFeiLeiDaoHang {
        width: 20%;
        float: left;
    }

    .divShuPaiFeiLeiDaoHang_ul1 {
        background-color: #5C544C;
        color: #ffffff;
    }

    .divShuPaiFeiLeiDaoHang_li1 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

        .divShuPaiFeiLeiDaoHang_li1:hover {
            background-color: #ff6a00;
        }

    .divShuPaiFeiLeiDaoHang_a1 {
        color: #ffffff;
        text-decoration: none;
    }

    .divShuPaiFeiLeiDaoHang_div1 {
        /*width: calc(1450*0.2px);*/
        height: 500px;
        position: absolute;
        z-index: 20;
        display: none;
        background-color: #ffffff;
        overflow: hidden;
    }

    .divShuPaiFeiLeiDaoHang_ul2 {
        background-color: #ffffff;
    }

    .divShuPaiFeiLeiDaoHang_li2:hover {
        background-color: #ffffff;
    }

    .divShuPaiFeiLeiDaoHang_li2 a {
        color: #000000;
        display: block;
        float: left;
    }

    .divShuPaiFeiLeiDaoHang_a2 {
        line-height: 40px;
    }

    .divShuPaiFeiLeiDaoHang_a3 {
        margin-left: 20px;
        margin-right: 10px;
        border: 1px solid #fb3434;
        width: 58px;
        height: 22px;
        line-height: 22px;
        margin-top: 8px;
    }

        .divShuPaiFeiLeiDaoHang_a3:hover {
            background-color: #fb3434;
        }

    .divShuPaiFeiLeiDaoHang_li2 {
        background-color: #ffffff;
        height: 76px;
        list-style-type: none;
        margin-left: -4px;
    }

        .divShuPaiFeiLeiDaoHang_li2 img {
            margin-left: 10px;
            margin-right: 10px;
            width: 30px;
        }

    #ulKuaiSuZhiDa3GeImgLianJie {
        height: 200px;
    }

        #ulKuaiSuZhiDa3GeImgLianJie li a div {
            width: 365px;
            height: 200px;
        }

    #divKuaiSuZhiDa6GePuTongLianJie {
        width: 20%;
        float: left;
        border: 1px solid #ff6a00;
        background-color: rosybrown;
    }

        #divKuaiSuZhiDa6GePuTongLianJie li {
            height: 90px;
            width: 30%;
            padding: 15px 0 15px 0;
            border: 1px solid #b6ff00;
        }

    #divJingMeiDanPin {
        width: 5%;
        float: right;
    }

        #divJingMeiDanPin ul li {
            width: 30px;
            height: 30px;
            cursor: pointer;
            padding-top: 4px;
            border: 1px solid #bfbebe;
        }

        #divJingMeiDanPin li:hover {
            background-color: #ff6a00;
        }


    .ulJingMeiDanPin {
        width: 3000px;
        margin-left: 0px;
    }

        .ulJingMeiDanPin > li {
            float: left;
        }

        .ulJingMeiDanPin li div {
            width: 279px;
            height: 300px;
        }

            .ulJingMeiDanPin li div img {
                width: 130px;
                height: 170px;
            }

            .ulJingMeiDanPin li div div {
                width: 279px;
                height: 80px;
            }

    #ulDaPeiFenLei {
        float: right;
    }

        #ulDaPeiFenLei li:hover {
            color: #ff6a00;
            font-size: 24px;
        }

    #ulDaPeiZuoContent li div {
        width: 220px;
        height: 320px;
    }

    #ulDaPeiZuoContent, .ulDaPeiN {
        margin-top: 10px;
    }

    .ulDaPeiN {
        position: relative;
    }

    .divDaPeiRightContent {
        width: 230px;
        height: 320px;
        position: relative;
    }

        .divDaPeiRightContent img {
            width: 150px;
            height: 150px;
            margin-top: 40px;
        }

    .divDaPeiRightMiaoShu1 {
        margin-top: 20px;
    }

    .divDaPeiRightMiaoShu2 {
        width: 230px;
        height: 90px;
        position: absolute;
        z-index: 7;
        left: 0px;
        bottom: 0px;
        background-color: #ff6a00;
        display: none;
    }

    .divDaPeiRightMiaoShu3 {
        background-color: #83c44e;
        height: 20px;
        left: 35%;
        position: absolute;
        text-align: center;
        top: 0;
        width: 70px;
        z-index: 7;
    }

    #divLunBoImgWai {
        width: 80%;
        float: right;
        height: 500px;
    }

    #divDaPei li {
        margin-bottom: 5px;
        background-color: #FEFEFE;
    }

        #divDaPei li > div:hover ,#divZhiNengYingJian li > div:hover{
            border: 1px solid;
            border-top-color: #ff0000;
            border-bottom-color: #ff0000;
            border-left-color: #00ff21;
            border-right-color: #00ff21;
        }

    #divZhiNengYingJianLeft, .ulZhiNengYingJianN {
        margin-top: 10px;
    }

    .ulZhiNengYingJianN {
        position: relative;
        margin-left: 0.3px;
    }

        .ulZhiNengYingJianN li {
        }

    .divZhiNengYingJianRightContent {
        width: 230px;
        height: 304px;
        position: relative;
    }

        .divZhiNengYingJianRightContent img {
            width: 150px;
            height: 150px;
            margin-top: 40px;
        }

    .divZhiNengYingJian li {
        margin-bottom: 5px;
    }
    .divZhiNengYingJianRightMiaoShu3 {
        background-color: #ffd800;
        height: 20px;
        left: 35%;
        position: absolute;
        text-align: center;
        top: 0;
        width: 70px;
        z-index: 7;
    }
</style>
<div style="width: 100%">
    <div style="width: 1450px; background-color: #cbc8c8; margin-left: 12%; height: 500px;">
        <div id="divShuPaiFeiLeiDaoHang" miaoshu="竖排分类导航">

        </div>
        <div id="divLunBoImgWai">

        </div>
    </div>

    <div style="width: 1450px;margin:10px auto auto 12%;height:200px;">
        <div id="divKuaiSuZhiDa6GePuTongLianJie" miaoshu="快速直达-6个普通链接小分类">
            <div>
                <ul class="list-inline text-center">
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                </ul>
            </div>
            <div>
                <ul class="list-inline text-center">
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                    <li><a>买买买买</a><br /><a>买买买买</a></li>
                </ul>
            </div>
        </div>

        <div style="width:78%;float:right;" miaoshu="快速直达-3个小图展示链接小分类">
            <ul class="list-inline" id="ulKuaiSuZhiDa3GeImgLianJie">
                <li>
                    <a>
                        <div>
                            <img src="http://i3.mifile.cn/a4/b16fa801-335d-4b38-9dbd-d1f3371307ee" alt="小米Max赠风扇">
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div>
                            <img src="http://i3.mifile.cn/a4/c202123c-4197-4666-9793-2f1e156ab23a" alt="红米pro-0820">
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div>
                            <img src="http://i3.mifile.cn/a4/e871ec13-077d-43ef-b5a5-25344f560f1d" alt="VR开售预告">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div style="width: 1450px;height:50px;margin:10px auto auto 12%;">
        <div style="float:left;font-size:24px">
            精美单品
        </div>
        <div id="divJingMeiDanPin">
            <p />
            <p />
            <p />
            <ul class="text-center list-inline">
                <li class="liJingMeiDanPinLunBoAnNiu">
                    <
                </li>
                <li class="liJingMeiDanPinLunBoAnNiu">
                    >
                </li>
            </ul>
        </div>
    </div>
    <div id="divJingMeiDanPinContent" style="width: 1450px;height:300px;margin:10px auto auto 12%;overflow:hidden" class="text-center">

    </div>


    <div style="width: 1450px;height:50px;margin:10px auto auto 12%;">
        <div style="float: left; font-size: 24px">
            智能硬件
        </div>
        <div style="width:70%;float:right;text-align:right">
            查看全部<img style="width:60px;height:50px" src="./Content/Images/go.png" />
        </div>
    </div>
    <div id="divZhiNengYingJian" style="width: 1450px;height:625px;margin:3px auto auto 12%;" class="divZhiNengYingJian">
        <div id="divZhiNengYingJianLeft" style="float: left; width: 15%;">
            <img alt="" src="http://i3.mifile.cn/a4/57c2f4fb-6743-44c6-b447-6bd55aaeef89">
        </div>
        <div id="divZhiNengYingJianRight" style="float:right;width:85%;">

        </div>
    </div>


    <div style="width: 1450px;height:50px;margin:10px auto auto 12%;">
        <div style="float: left; font-size: 24px">
            搭配
        </div>
        <div style="width:70%;float:right;">
            <p />
            <p />
            <p />
            <ul class="list-inline text-center" id="ulDaPeiFenLei">
                <li>热门</li>
                <li>耳机音箱</li>
                <li>数据线</li>
                <li>电源</li>
                <li>电池储存卡</li>
            </ul>
        </div>
    </div>
    <div id="divDaPei" style="width: 1450px;height:665px;margin:3px auto auto 12%;background-color:#F8F5F5" class="divDaPei">
        <div id="divDaPeiLeft" style="float: left; width: 15%;">
            <ul class="text-center list-inline" id="ulDaPeiZuoContent">
                <li>
                    <div>
                        <img alt="1" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
                <li>
                    <div>
                        <img alt="1" src="http://i3.mifile.cn/a4/809aed51-f9b9-482e-a249-93d44225439e">
                    </div>
                </li>
            </ul>
        </div>
        <div id="divDaPeiRight" style="float:right;width:85%;">

        </div>
    </div>

</div>
<script src="~/Scripts/jq/jquery-2.1.4/jquery-2.1.4.js"></script>
<script src="~/Scripts/MyLunBo/ZSImgLunBo.js"></script>
<script src="http://www.aizheaina.com:80/Scripts/common/handlebars-v4.0.5.js"></script>
<script id="divShuPaiFeiLeiDaoHang_Template" type="text/x-handlebars">
    @*竖排分类导航模板*@
    <ul class="list-unstyled text-center divShuPaiFeiLeiDaoHang_ul1">
        {{#each this}}
        <li class="divShuPaiFeiLeiDaoHang_li1">
            <a href="{{AshuPaiDaoHangLink}}" class="divShuPaiFeiLeiDaoHang_a1">{{AshuPaiDaoHangName}}</a>
            <div class="divShuPaiFeiLeiDaoHang_div1">
                <ul class="list-inline divShuPaiFeiLeiDaoHang_ul2">
                    @*进入属性*@
                    {{#with Specific}}
                    {{#each this}}
                    <li class="divShuPaiFeiLeiDaoHang_li2">
                        <a href="{{XiangQing}}" class="divShuPaiFeiLeiDaoHang_a2">
                            <img src="{{shuPaiDaoHangLiXiaoImgSrc}}" />
                            <span>{{shuPaiDaoHangLiXiaoImgSpanMiaoShu}}</span>
                        </a>
                        {{#if zhiDaName }}
                        <a href="{{zhiDaLink}}" class="divShuPaiFeiLeiDaoHang_a3">{{zhiDaName}}</a>
                        {{/if}}
                    </li>
                    {{/each}}
                    {{/with}}
                </ul>
            </div>
        </li>
        {{/each}}
    </ul>
</script>
<script id="divJingMeiDanPinContent_Template" type="text/x-handlebars">
    @*精美单品模板*@
    <ul class="list-inline ulJingMeiDanPin">
        {{#each this}}
        <li>
            <div style="border-top:1px solid #ffd800">
                <a herf="{{ImgWaiLink}}">
                    <img src="{{ImgSrc}}" alt="{{ImgAlt}}" />
                </a>
                <div>
                    <a herf="{{NameWaiALink}}">{{Name}}</a><p/>
                    <p>{{JianShu}}</p>
                    <p>{{JiaGe}}</p>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</script>
<script id="divDaPeiRight_Template" type="text/x-handlebars">
    <!--搭配右边内容模板,@@last表示最后的循环。其实handlebars应该的是@只不过这是razor视图格式所以需要转换-->
    <ul class="text-center list-inline ulDaPeiN" FenLeiEnName="{{FenLeiEnName}}">
        {{#with Content}}
        {{#each this}}
        {{#if @@last}}
        <li style="width:240px;height:140px;position:relative;top:-122px">
            <div style="width:230px;height:150px;">
                <div style="height: 60px;width: 130px;position:absolute;top:55px">
                    <a href="{{aDaPeiNameLink}}">{{Name}}</a><br />
                    <span>{{PingJiaRenName}}</span>
                </div>
                <div style="height: 80px;width: 80px;position:absolute;right:20px;top:30px">
                    <a herf="{{aDaPeiImgLink}}">
                        <img style="width:80px;height:80px" alt="{{ImgAlt}}" src="{{ImgSrc}}" />
                    </a>
                </div>
            </div>
        </li>
        {{else}}
        <li>
            <div class="divDaPeiRightContent">
                {{#if TeDian}}
                <!--没有特点则不生成特点div-->
                <div class="divDaPeiRightMiaoShu3">
                    {{TeDian}}
                </div>
                {{/if}}
                <a herf="{{aDaPeiImgLink}}">
                    <img alt="{{ImgAlt}}" src="{{ImgSrc}}" />
                </a>
                <div class="divDaPeiRightMiaoShu1">
                    <a href="{{aDaPeiNameLink}}">{{Name}}</a><p />
                    <p>{{JiaGe}}</p>
                    <p>{{PingJiaShuLiang}}</p>
                </div>
                {{#if PingJia}}
                <!--没有评价则不生成评价div-->
                <div class="divDaPeiRightMiaoShu2">
                    <a href="{{aDaPeiMiaoShu2Link}}">
                        <p>{{PingJia}}</p>
                        <p>{{PingJiaRenName}}</p>
                    </a>
                </div>
                {{/if}}
            </div>
        </li>
        {{/if}}
        {{/each}}
        {{/with}}
        <li style="width:240px;height:150px;position:absolute;right:-9px;bottom:-19px">
            <div style="width:230px;height:150px;position:absolute;right:22px;bottom:20px">
                <div style="height: 80px;width: 130px;position:absolute;top:50px">
                    <a href="">浏览更多</a><p />
                    <p>{{FenLeiCnName}}</p>
                </div>
                <div style="height: 80px;width: 80px;position:absolute;right:20px;top:35px">
                    <a herf="{{aDaPeiImgLink}}">
                        <img style="width:90px;height:80px" src="./Content/Images/go.png" />
                    </a>
                </div>
            </div>
        </li>
    </ul>
</script>
<script id="divZhiNengYingJianRight_Template" type="text/x-handlebars">
    <!--智能右边内容能硬件模板-->
    <ul class="text-center list-inline ulZhiNengYingJianN" FenLeiEnName="{{FenLeiEnName}}">
        {{#each this}}
        <li>
            <div class="divZhiNengYingJianRightContent">
                {{#if TeDian}}
                    <div class="divZhiNengYingJianRightMiaoShu3">
                        {{TeDian}}
                    </div>
                    {{/if}}
                <a herf="{{aDaPeiImgLink}}">
                    <img alt="{{ImgAlt}}" src="{{ImgSrc}}" />
                </a>
                <div class="divZhiNengYingJianRightMiaoShu1">
                    <a href="{{aDaPeiNameLink}}">{{Name}}</a></p>
                    <p>{{JianShu}}</p>
                    <p>{{JiaGe}}</p>
                    <p>{{PingJiaShuLiang}}
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</script>
<script type="text/javascript">
    var divShuPaiFeiLeiDaoHangData = [
    {
        AshuPaiDaoHangName: "手机电话卡",
        AshuPaiDaoHangLink: "手机电话卡",
        Specific: [
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            }
        ]
    },
   {
       AshuPaiDaoHangName: "笔记本 平板",
       AshuPaiDaoHangLink: "",
       Specific: [
          {
              XiangQing: "",
              shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
              shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
              zhiDaName: "选购",
              zhiDaLink: ""
          },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            }
       ]
   }
   ,
   {
       AshuPaiDaoHangName: "电视 盒子",
       AshuPaiDaoHangLink: "",
       Specific: [
          {
              XiangQing: "",
              shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
              shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
              zhiDaName: "选购",
              zhiDaLink: ""
          },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            }
       ]
   }
   ,
   {
       AshuPaiDaoHangName: "路由器 智能硬件",
       AshuPaiDaoHangLink: "",
       Specific: [
           {
               XiangQing: "",
               shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
               shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
               zhiDaName: "选购",
               zhiDaLink: ""
           },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            }
       ]
   }
   ,
   {
       AshuPaiDaoHangName: "移动电源 电池 插排",
       AshuPaiDaoHangLink: "",
       Specific: [
          {
              XiangQing: "",
              shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
              shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
              zhiDaName: "选购",
              zhiDaLink: ""
          },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            }
       ]
   }
   ,
   {
       AshuPaiDaoHangName: "耳机 音响",
       AshuPaiDaoHangLink: "",
       Specific: [
           {
               XiangQing: "",
               shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
               shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
               zhiDaName: "选购",
               zhiDaLink: ""
           },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            }
       ]
   }
   ,
   {
       AshuPaiDaoHangName: "保护套 贴膜",
       AshuPaiDaoHangLink: "",
       Specific: [
          {
              XiangQing: "",
              shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
              shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
              zhiDaName: "选购",
              zhiDaLink: ""
          },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            }
       ]
   }
   ,
   {
       AshuPaiDaoHangName: "线材 支架 存储卡",
       AshuPaiDaoHangLink: "",
       Specific: [
           {
               XiangQing: "",
               shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
               shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
               zhiDaName: "选购",
               zhiDaLink: ""
           },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "选购",
                zhiDaLink: ""
            }
       ]
   }
   ,
   {
       AshuPaiDaoHangName: "箱包 服饰",
       AshuPaiDaoHangLink: "",
       Specific: [
           {
               XiangQing: "",
               shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
               shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
               zhiDaName: "",
               zhiDaLink: ""
           },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
                zhiDaName: "",
                zhiDaLink: ""
            }
       ]
   }
   ,
   {
       AshuPaiDaoHangName: "米兔 生活周边",
       AshuPaiDaoHangLink: "",
       Specific: [
           {
               XiangQing: "",
               shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
               shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
           },
            {
                XiangQing: "",
                shuPaiDaoHangLiXiaoImgSrc: "http://c1.mifile.cn/f/i/g/doodle/hmnote4-300.jpg?width=40&amp;height=40",
                shuPaiDaoHangLiXiaoImgSpanMiaoShu: "小米手机5",
            }
       ]
   }
    ];
    var divShuPaiFeiLeiDaoHang_Template = Handlebars.compile($("#divShuPaiFeiLeiDaoHang_Template").html());
    $("#divShuPaiFeiLeiDaoHang").html(divShuPaiFeiLeiDaoHang_Template(divShuPaiFeiLeiDaoHangData));

    var divJingMeiDanPinContentData = [
        {
            ImgWaiLink: "",
            ImgSrc: "http://i3.mifile.cn/a4/40d24892-317d-4883-ad63-647f1b9e3cdf",
            ImgAlt: "",
            NameWaiALink: "",
            Name: "小米5 高配",

            JiaGe: "2055元"
        },
        {
            ImgWaiLink: "",
            ImgSrc: "http://i3.mifile.cn/a4/0df5d106-ab01-4013-87de-a9793094245d",
            ImgAlt: "",
            NameWaiALink: "",
            Name: "小米Max 优惠200元",
            JianShu: "128GB大容量，4850mAh大电池",
            JiaGe: "1799元"
        },
        {
            ImgWaiLink: "",
            ImgSrc: "http://i3.mifile.cn/a4/f35e0d0a-afae-443c-a7e6-3a49c40e2df1",
            ImgAlt: "",
            NameWaiALink: "",
            Name: "红米Pro 十核双摄",
            JianShu: "购机即送Type-C转接头",
            JiaGe: "1499元起"
        },
        {
            ImgWaiLink: "",
            ImgSrc: "http://i3.mifile.cn/a4/46efda8b-672a-41a0-8ea9-434b746e5c62",
            ImgAlt: "",
            NameWaiALink: "",
            Name: "小米笔记本",
            JianShu: "独立显卡、超轻薄、金属机身",
            JiaGe: "3499元起"
        },
        {
            ImgWaiLink: "",
            ImgSrc: "http://i3.mifile.cn/a4/4c68c352-fbd3-452d-be90-7b47e4f6ce76",
            ImgAlt: "",
            NameWaiALink: "",
            Name: "小米平板2 16GB现货",
            JianShu: "轻薄全金属，海量内容",
            JiaGe: "999元"
        },
         {
             ImgWaiLink: "",
             ImgSrc: "http://i3.mifile.cn/a4/74dd9736-f254-4964-a06a-24f0befb21ac",
             ImgAlt: "",
             NameWaiALink: "",
             Name: "小米电视3S 48英寸",
             JianShu: "原装液晶屏，金属机身",
             JiaGe: "1999元"
         },
        {
            ImgWaiLink: "",
            ImgSrc: "http://i3.mifile.cn/a4/T146YgBKhv1RXrhCrK.jpg",
            ImgAlt: "",
            NameWaiALink: "",
            Name: "小米盒子3 增强版",
            JianShu: "高端 4K 网络机顶盒",
            JiaGe: "399元"
        },
        {
            ImgWaiLink: "",
            ImgSrc: "http://i3.mifile.cn/a4/6ef55907-bbed-49be-a2bb-be0821b5f7b8",
            ImgAlt: "",
            NameWaiALink: "",
            Name: "小米手环 2",
            JianShu: "每天早10点开售",
            JiaGe: "149元"
        },
        {
            ImgWaiLink: "",
            ImgSrc: "http://i3.mifile.cn/a4/d663ce13-c814-4f35-a7a8-46a4745e6fd7",
            ImgAlt: "",
            NameWaiALink: "",
            Name: "小米体重秤",
            JianShu: "100克，喝杯水都可感知的精准",
            JiaGe: "99元"
        },
        {
            ImgWaiLink: "",
            ImgSrc: "http://i3.mifile.cn/a4/T1d__jBQYT1RXrhCrK.jpg",
            ImgAlt: "",
            NameWaiALink: "",
            Name: "小米空气净化器2",
            JianShu: "10分钟，房间空气焕然一新",
            JiaGe: "699元"
        }
    ];

    var divJingMeiDanPinContent_Template = Handlebars.compile($("#divJingMeiDanPinContent_Template").html());
    $("#divJingMeiDanPinContent").html(divJingMeiDanPinContent_Template(divJingMeiDanPinContentData));

    var divDaPeiRight1 = {
        FenLeiCnName: "热门",
        FenLeiEnName: "reMen",
        Content: [
                   {
                       aDaPeiImgLink: "",
                       aDaPeiNameLink: "",
                       aDaPeiMiaoShu2Link: "",
                       ImgSrc: "http://i2.mifile.cn/a1/T12HJvByEv1RXrhCrK.jpg?width=150&height=150",
                       ImgAlt: "",
                       Name: "小米移动电源10000mAh",
                       JiaGe: "79元",
                       PingJiaShuLiang: "1.9万评价",
                       PingJia: "真的好好",
                       PingJiaRenName: "来自张赛的评价",
                       TeDian: "新品"
                   },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T1ycK_BjYv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米圈铁耳机",
                        JiaGe: "99元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T1eSZgBjVT1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米移动电源10000mAh 高配版",
                        JiaGe: "1499元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "新品"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T12HJvByEv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米移动电源10000mAh",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "免邮"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T190DvB4dv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米蓝牙耳机",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T12HJvByEv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米移动电源10000mAh",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "免邮"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/pms_1463579883.27084326.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米插线排",
                        JiaGe: "49元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "张赛"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T12HJvByEv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米移动电源10000mAh",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T1F5K_BjVv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米小钢炮蓝牙音箱2",
                        JiaGe: "129元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "牛逼"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T15hZ_BsDv1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米小钢炮蓝牙音箱 青春版",
                        JiaGe: "99元",
                        TeDian: "起飞"
                    }
        ]
    };
    var divDaPeiRight_Template = Handlebars.compile($("#divDaPeiRight_Template").html());
    $("#divDaPeiRight").html(divDaPeiRight_Template(divDaPeiRight1));

    var divDaPeiRight2 = {
        FenLeiCnName: "耳机",
        FenLeiEnName: "erJi",
        Content: [
                   {
                       aDaPeiImgLink: "",
                       aDaPeiNameLink: "",
                       aDaPeiMiaoShu2Link: "",
                       ImgSrc: "http://i1.mifile.cn/a1/pms_1467184989.74561304!220x220.jpg",
                       ImgAlt: "",
                       Name: "小米圈铁耳机 银色",
                       JiaGe: "99元",
                       PingJiaShuLiang: "1.9万评价",
                       PingJia: "真的好好",
                       PingJiaRenName: "来自张赛的评价",
                       TeDian: "我想"
                   },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1ycK_BjYv1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米圈铁耳机",
                        JiaGe: "99元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "我玩"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1SkV_BCd_1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米胶囊耳机",
                        JiaGe: "69元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T190DvB4dv1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米蓝牙耳机",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "搞飞机"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T190DvB4dv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米蓝牙耳机",
                        JiaGe: "79元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1LqYgBCWv1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米随身蓝牙音箱",
                        JiaGe: "69元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "真带劲"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/pms_1463579883.27084326.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米小钢炮蓝牙音箱2",
                        JiaGe: "129元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "真带劲"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1yf__BjAT1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米蓝牙音箱",
                        JiaGe: "199元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "来啦"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T1F5K_BjVv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米小钢炮蓝牙音箱2",
                        JiaGe: "129元",
                        PingJiaShuLiang: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "滚吧"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T15hZ_BsDv1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米小钢炮蓝牙音箱 青春版",
                        JiaGe: "99元",
                        TeDian: 1
                    }
        ]
    };

    var divZhiNengYingJianRightData = [
                   {
                       aDaPeiImgLink: "",
                       aDaPeiNameLink: "",
                       aDaPeiMiaoShu2Link: "",
                       ImgSrc: "http://i3.mifile.cn/a4/376f5f19-d1f5-4f87-8ef9-38e86891bc87",
                       ImgAlt: "",
                       Name: "小米路由器3",
                       JiaGe: "149元",
                       JianShu: "四天线设计，更安全更稳定",
                       PingJia: "真的好好",
                       PingJiaRenName: "来自张赛的评价",
                       TeDian: "我想"
                   },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i3.mifile.cn/a4/2b69b930-a2fd-4d09-a46a-8690cb79f764",
                        ImgAlt: "",
                        Name: "电助力折叠自行车",
                        JiaGe: "2999元",
                        JianShu: "力矩传感电助力，折叠便携设计",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "我玩"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/pms_1474338357.52216545!220x220.jpg",
                        ImgAlt: "",
                        Name: "米兔定位电话",
                        JiaGe: "169元",
                        JianShu: "时刻定位，守护你所爱",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1PXhgBbdT1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米蓝牙耳机",
                        JiaGe: "79元",
                        JianShu: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "搞飞机"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/T190DvB4dv1RXrhCrK.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "九号平衡车",
                        JiaGe: "1999元",
                        JianShu: "年轻人的酷玩具，骑行遥控两种玩法",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: ""
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/pms_1464615180.86261317!220x220.jpg",
                        ImgAlt: "",
                        Name: "米兔智能故事机",
                        JiaGe: "199元",
                        JianShu: "宝宝又不好好吃饭，让米兔来哄宝宝",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "真带劲"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i2.mifile.cn/a1/pms_1463579883.27084326.jpg?width=150&height=150",
                        ImgAlt: "",
                        Name: "小米小钢炮蓝牙音箱2",
                        JiaGe: "129元",
                        JianShu: "1.9万评价",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "真带劲"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/T1OVC_ByY_1RXrhCrK!220x220.jpg",
                        ImgAlt: "",
                        Name: "米家压力IH电饭煲",
                        JiaGe: "999元",
                        JianShu: "智能定时烹饪，花呗6期免息",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "来啦"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/pms_1469583266.7193851!220x220.jpg",
                        ImgAlt: "",
                        Name: "小米笔记本Air 12.5英寸",
                        JiaGe: "3499元",
                        JianShu: "更轻更薄，像杂志一样随身携带",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "滚吧"
                    },
                    {
                        aDaPeiImgLink: "",
                        aDaPeiNameLink: "",
                        aDaPeiMiaoShu2Link: "",
                        ImgSrc: "http://i1.mifile.cn/a1/pms_1464071511.37197399!220x220.jpg",
                        ImgAlt: "",
                        Name: "米家 LED 智能台灯",
                        JiaGe: "169元",
                        JianShu: "无可视频闪，亮度色温无级调节",
                        PingJia: "真的好好",
                        PingJiaRenName: "来自张赛的评价",
                        TeDian: "滚吧"
                    }
    ];

    var divZhiNengYingJianRight_Template = Handlebars.compile($("#divZhiNengYingJianRight_Template").html());
    $("#divZhiNengYingJianRight").html(divZhiNengYingJianRight_Template(divZhiNengYingJianRightData));
</script>


<script type="text/javascript">
    var lunBoAnNiuClickJiShu = 0, lunBoJinMeiDanPinAnNiuShu = 0;
    $(function () {
        //搭配选项切换
        $("#ulDaPeiFenLei li").each(function (index, item) {
            $(item).hover(function () {
                switch ($(item).html()) {
                    case "热门":
                        DaPeiShow("reMen");
                        break;
                    case "耳机音箱":
                        DaPeiShow("erJi");
                        break;
                    case "数据线":
                        DaPeiShow("shuJuXian");
                        break;
                    case "电源":
                        break;
                    case "电池储存卡":
                        break;
                    default:
                };
            });
        });

        //竖排导航每个li中的内容出现和隐藏
        $("#divShuPaiFeiLeiDaoHang ul li div").each(function (index, item) {
            var $d = $(item);
            var bcolor = "#00ff21", width = "300px";
            if (index % 2 == 0) {
                bcolor = "#f19a9a";
                width = "400px";
            }
            //$d.css({ "left": $(window).width() * 0.12 + $d.parents("div").width(), "top": $d.parents("div").offset().top, "background-color": bcolor, "width": width }).html(index);
            $d.css({ "left": $(window).width() * 0.12 + $d.parents("div").width(), "top": $d.parents("div").offset().top });

            $d.parent().mousemove(function () {
                $(this).children("div").show();
            });
            $d.parent().mouseout(function () {
                $(this).children("div").hide();
            });
            $d.mousemove(function () {
                $(this).show();
            });
            $d.mouseout(function () {
                $(this).hide();
            });
        });

        //精美单品
        $("#divJingMeiDanPinContent").ZSImgLunBo({
            lunBoFangShi: "toleft",
            isShowLunBoBiaoShi: false,
            isShowLunBoAnNiu: false,
            toInt: 5,
            ziDingYiLunBoAnNiuClassName: "liJingMeiDanPinLunBoAnNiu",
            renderingMethod: "html",
            ziDongLunBoMiao: 7,
            iSZiDongLunBo_Automatic: true,
        })
        ////大图轮播
        $("#divLunBoImgWai").ZSImgLunBo({
            jsonData: '{"data":[{"href":"","src":"http://i3.mifile.cn/a4/f4bee59d-85a5-498f-ae57-a2cabe6aeb5b"},{"href":"","src":"http://i3.mifile.cn/a4/f176643a-7db7-42e9-a4e5-f4d3bf9720f5 2x"},{"href":"","src":"http://i3.mifile.cn/a4/467eeee4-0e6b-41a0-b789-4373fa45a5a6 2x"},{"href":"","src":"http://i3.mifile.cn/a4/3d0a39fe-082f-420b-8857-eadd3b2e148c 2x"}]}',
            lunBoFangShi: "fade",
        });
        //搭配描述的出现与消失
        $(".ulDaPeiN li").mouseover(function () {
            $(this).find(".divDaPeiRightMiaoShu2").show();
        });
        $(".ulDaPeiN li").mouseout(function () {
            $(this).find(".divDaPeiRightMiaoShu2").hide();
        });


        //图片的大小超过容器后更改图片的大小为容器的大小
        //TuPianZiShiYing("img");
        TuPianZiShiYing(".divZSLunBoImg");
        TuPianZiShiYing("#ulKuaiSuZhiDa3GeImgLianJie");
        TuPianZiShiYing("#divDaPeiLeft");
        TuPianZiShiYing("#divZhiNengYingJianLeft");
    });

    function DaPeiShow(FenLeiEnName) {
        var isYiJiaZai = false;
        $(".ulDaPeiN").each(function (index, item) {
            if ($(item).attr("FenLeiEnName") == FenLeiEnName) {
                isYiJiaZai = true;
                return false;
            }
        });
        if (isYiJiaZai) {
            $(".ulDaPeiN").each(function (index, item) {
                if ($(item).attr("FenLeiEnName") == FenLeiEnName) {
                    $(item).show();
                } else {
                    $(item).hide();
                }
            });
        } else {
            //此处相当于ajax请求后台获取数据
            if (FenLeiEnName == "erJi") {
                //相当于请求成功后，否则后死循环
                $("#divDaPeiRight").html($("#divDaPeiRight").html() + divDaPeiRight_Template(divDaPeiRight2));
                DaPeiShow(FenLeiEnName);
            }
        }
    };

    function TuPianZiShiYing(select) {
        if (select.toLocaleLowerCase != "img") {
            select += " img";
        }
        $(select).each(function (index, item) {
            $(item).height($(item).parents("div").height());
            $(item).width($(item).parents("div").width());
        });
    };
</script>









@*q js sdk 登录*@
@*
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101346412" charset="utf-8">    //data-callback="true" 这条js加入此属性则会返回点击登录的页面</script>
    <script type="text/javascript">
        QC.Login.getMe(function (openId, accessToken) {
            alert(openId);
            ajax提交后台处理
            //return false;
        })

    </script>*@
@*//qq js sdk 登录*@


