
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}
<style type="text/css">
    .divFenLei ul {
        background-color: #5C544C;
        color: #ffffff;
    }

        /*.divFenLei ul li:not(:first-child)  {
            padding-top: 20px;
        }*/
        .divFenLei ul li {
            padding-top: 15px;
            padding-bottom: 15px;
        }

            .divFenLei ul li:hover {
                background-color: #ff6a00;
                cursor: pointer;
            }

            .divFenLei ul li a {
                color: #ffffff;
                text-decoration: none;
            }

    #divLunBoImg a {
        display: inline-block;
        width: 100%;
        height: 500px;
    }

    .zspading5 {
        height: 200px;
    }

        .zspading5 li div {
            width: 365px;
            height: 200px;
        }
</style>
<script src="~/Scripts/jq/jquery-2.1.4/jquery.js"></script>
<script type="text/javascript">
    $(function () {

        $("img").each(function (index, item) {
            $(item).height($(item).parent().height());
            $(item).width($(item).parent().width());
        });

    })
</script>
<div style="width: 100%">
    <div style="width: 1450px;margin:0 15%;background-color:red;">
        <div class="divFenLei" style="width:20%;height:500px;float:left;">
            <ul class="list-unstyled text-center">
                <li><a>手机电话卡</a></li>
                <li><a>笔记本 平板</a></li>
                <li><a>电视 盒子</a></li>
                <li><a>路由器 智能硬件</a></li>
                <li><a>移动电源 电池 插排</a></li>
                <li><a>耳机 音响</a></li>
                <li><a>保护套 贴膜</a></li>
                <li><a>线材 支架 存储卡</a></li>
                <li><a>箱包 服饰</a></li>
                <li><a>米兔 生活周边</a></li>
            </ul>
        </div>
        <div id="divLunBoImg" style="width:80%;height:500px;float:right;">
            <a><img src="http://i3.mifile.cn/a4/f4bee59d-85a5-498f-ae57-a2cabe6aeb5b"></a>
        </div>
    </div>
    <div style="width: 1450px;margin:0 15%;">
        <div style="width:20%;height:200px;float:left;margin-top:10px;">

        </div>
        <div style="width:78%;float:right;margin-top:10px;">
            <ul class="list-inline zspading5">
                <li>
                    <div>
                        <img src="http://i3.mifile.cn/a4/b16fa801-335d-4b38-9dbd-d1f3371307ee" alt="小米Max赠风扇">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://i3.mifile.cn/a4/c202123c-4197-4666-9793-2f1e156ab23a" alt="红米pro-0820">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="http://i3.mifile.cn/a4/e871ec13-077d-43ef-b5a5-25344f560f1d" alt="VR开售预告">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>































@*q js sdk 登录*@
@*<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101346412" charset="utf-8">    //data-callback="true" 这条js加入此属性则会返回点击登录的页面</script>
    <script type="text/javascript">
        QC.Login.getMe(function (openId, accessToken) {
            alert(openId);
             ajax提交后台处理
            //return false;
        })

    </script>*@
@*//qq js sdk 登录*@


