
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}
<h2>@ViewBag.LoginMsg</h2>

@*q js sdk 登录*@
@*<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101346412" charset="utf-8">    //data-callback="true" 这条js加入此属性则会返回点击登录的页面</script>
    <script type="text/javascript">
        QC.Login.getMe(function (openId, accessToken) {
            alert(openId);
             ajax提交后台处理
            //return false;
        })

    </script>*@
@*//qq js sdk 登录*@


