
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/Template.cshtml";
}
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta property="qc:admins" content="1555204475611205116163757" />@*QQ登录验证标签*@
<meta property="wb:webmaster" content="2036a8d102589b80" />@*新浪微博登录验证标签*@
<link href="~/Scripts/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
<style type="text/css">
    .ulLogin li {
        padding-bottom: 10px;
    }

        .ulLogin li:first-child {
            padding-top: 10px;
        }

    .divLoginWai {
        width: 100%;
        height: 598px;
        background-image: url('../../Content/74.jpg');
        filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
    }

    .divLogin {
        width: 300px;
        height: 210px;
        background-color: #ECE7EB;
        position: absolute;
        top: 210px;
        left: 70%;
    }
</style>
<div class="divLoginWai">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="divLogin">
            <ul class="list-unstyled text-center ulLogin">
                <li>
                    账户：<input id="input_LoginName" name="LoginName" type="text" style="width:200px" placeholder="请输入您的账号">
                </li>
                <li>
                    密码：<input id="input_PassWord" name="PassWord" type="password" style="width:200px" placeholder="请输入您的密码">
                </li>
                <li>
                    <input type="checkbox">请记住我
                </li>
                <li>
                    <button style="width:300px" class="btn btn-default" type="submit">登录</button>
                </li>
            </ul>
            <div>
                <span>其他方式登录:</span><a href="/Home/QQLogin"><img src="~/Content/Images/qq/qqQiEr.png" /></a>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jq/jquery-2.1.4/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $("#divpageDi").css("margin-top", "0px");
    })
</script>

















@*<div id="login-by-qq">
        <a class="login button" id="sidebar">使用QQ登录</a>
        <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101346412" charset="utf-8"></script>
        <script type="text/javascript">
        $("#sidebar").click(function () {
        window.opener = null; window.open('', '_self'); window.close();
        var op =
        {
                appId: "101346412",
                redirectURI: 'http://www.aizheaina.com/Home/Index',
            };
    QC.Login.showPopup(op);
            return false;
        });
        </script>
    </div>*@


