
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/Template.cshtml";
}
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<style type="text/css">
    .ulLogin li {
        padding-bottom: 10px;
    }

        .ulLogin li:first-child {
            padding-top: 10px;
        }

    .divLoginWai {
        width: 100%;
        height: 598px;
        background-image: url('../../Content/74.jpg');
        filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
    }

    .divLogin {
        width: 300px;
        height: 210px;
        background-color: #ECE7EB;
        position: absolute;
        top: 210px;
        left: 70%;
    }

    .divZSLunBoImg {
        height: 500px;
        width: 800px;
    }
</style>
<div class="divLoginWai">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="divLogin">
            <ul class="list-unstyled text-center ulLogin">
                <li>
                    账户：<input id="input_LoginName" name="LoginName" type="text" style="width:200px" placeholder="请输入您的账号">
                </li>
                <li>
                    密码：<input id="input_PassWord" name="PassWord" type="password" style="width:200px" placeholder="请输入您的密码">
                </li>
                <li>
                    <input type="checkbox">请记住我
                </li>
                <li>
                    <button style="width:300px" class="btn btn-default" type="submit">登录</button>
                </li>
            </ul>
            <div>
                <span>其他方式登录:</span><a href="/Home/QQLogin"><img src="~/Content/Images/qq/qqQiEr.png" /></a>
            </div>
        </div>
    }
</div>
<div style="width:500px;height:80px;overflow:hidden;border:1px solid #f00;margin-left:20%" id="sdd">

</div>

@*<div id="divLunBoImgWai" style="width:800px;height:500px;overflow:hidden;border:1px solid #f00;margin-left:20%">

    </div>*@
<style type="text/css">
    #keleyi5 .JQ-content-box {
        border: 1px solid #ccc;
        height: 100px;
        line-height: 25px;
        min-height: 25px;
        overflow: hidden;
        width: 300px;
    }

    #keleyi5 .JQ-content-box {
        line-height: 25px;
    }

    #keleyi5 {
        margin-bottom: 20px;
        margin-left: 20%;
    }

    /*#ddd li {
        position: absolute;
        left: 0;
        top: 0;
    }*/
</style>

<script src="~/Scripts/jq/jquery-2.1.4/jquery.js"></script>
<script src="~/Scripts/MyLunBo/ZSImgLunBo.js"></script>
<script src="~/Scripts/MyLunBo/ZSDuoTuLunBo.js"></script>
<script type="text/javascript">
    $(function () {
        $("#divpageDi").css("margin-top", "0px");
    })

    //左移
    $("#sdd").ZSImgLunBo({
        jsonData: '{"data":[{"href":"","src":"http://fms2.esteelall.com/GetImage.aspx?ic=FMS20160607142055I426f57b8e84749199283cdde212a603f"},{"href":"","src":"http://fms2.esteelall.com/GetImage.aspx?ic=FMS20160503092612I4e220ccb0d674c48b8b969c266eb1350"},{"href":"","src":"http://fms2.esteelall.com/GetImage.aspx?ic=FMS20160331165525Iab9e26fe3a5c411ea3a8c04566d79859"},{"href":"","src":"http://fms2.esteelall.com/GetImage.aspx?ic=FMS20160330173906I8a65e498ff9245ccae0c72552b938555"}]}',
        LunBoFangShi: "dantuzuoyi"
    });

    //////大图轮播
    //$("#divLunBoImgWai").ZSImgLunBo({
    //    jsonData: '{"data":[{"href":"","src":"http://i3.mifile.cn/a4/f4bee59d-85a5-498f-ae57-a2cabe6aeb5b"},{"href":"","src":"http://i3.mifile.cn/a4/f176643a-7db7-42e9-a4e5-f4d3bf9720f5 2x"},{"href":"","src":"http://i3.mifile.cn/a4/467eeee4-0e6b-41a0-b789-4373fa45a5a6 2x"},{"href":"","src":"http://i3.mifile.cn/a4/3d0a39fe-082f-420b-8857-eadd3b2e148c 2x"}]}',
    //    LunBoFangShi: "fade"
    //});

    TuPianZiShiYing("#divLunBoImgWai Img");
    function TuPianZiShiYing(select) {
        $(select).each(function (index, item) {
            $(item).height($(item).parents("div").height());
            $(item).width($(item).parents("div").width());
        });
    };

</script>















@*<div id="login-by-qq">
        <a class="login button" id="sidebar">使用QQ登录</a>
        <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101346412" charset="utf-8"></script>
        <script type="text/javascript">
        $("#sidebar").click(function () {
        window.opener = null; window.open('', '_self'); window.close();
        var op =
        {
                appId: "101346412",
                redirectURI: 'http://www.aizheaina.com/Home/Index',
            };
    QC.Login.showPopup(op);
            return false;
        });
        </script>
    </div>*@


