
@{
    ViewBag.Title = "UserRegister";
    Layout = "~/Views/Shared/Template.cshtml";
}
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<script src="~/Scripts/jq/jquery-2.1.4/jquery-2.1.4.js"></script>
<link href="~/Scripts/jquery.validate.1.5.1/jquery.validate.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.1.5.1/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.1.5.1/jquery.validate.extend.js"></script>
<script src="~/Scripts/Jq.form.3.46.0/jquery.form.js"></script>
<style type="text/css">
    .form_Register {
        width: 100%;
        height: auto;
        background: #f5f5f5 none repeat scroll 0 0;
    }

    .table_form {
        margin: 0 auto;
    }

        .table_form > tbody > tr > td:nth-child(2n+1) {
            width: 80px;
            height: 50px;
        }

        .table_form > tbody > tr > td:nth-child(2n) {
            width: 419px;
            height: 50px;
        }
</style>
<script type="text/javascript">
    $(function () {
        var validator = $("#form_Register").validate({
            submitHandler: function (form) {
                alert(1);
                var options = {
                    success: function (data) {
                        if (data != "") {
                            alert(data.StatusMsg);
                        }
                    },
                    dataType: "json"
                };
                $("#form_Register").ajaxSubmit(options);
            },
            rules: {
                LoginName: {
                    required: true,
                    minlength: 2
                },
                PassWord: {
                    required: true,
                    minlength: 6,
                    maxlength: 16
                },
                input_rePassword: {
                    required: true,
                    equalTo: "#PassWord"
                },
                Email: {
                    required: true,
                    //email: true

                },
                ValidateCode: {
                    required: true,
                }
            },
            messages: {
                LoginName: {
                    required: "昵称不能为空",
                    minlength: "昵称的最小长度为2"
                },
                PassWord: {
                    required: "密码不能为空",
                    minlength: "密码长度不能少于6个字符",
                    maxlength: "密码长度不能超过16个字符"
                },
                input_rePassword: {
                    required: "确认密码不能为空",
                    equalTo: "确认密码和密码不一致"
                },
                Email: {
                    required: "邮箱为必填",
                    // email: "邮箱格式错误"
                },
                ValidateCode: {
                    required: "验证码必填"
                }
            }
        });

        $("#Email").blur(function () {
            if ($(this).next().is("label")) {
                var $label = $(this).next();
                if (!$(this).next().is(":hidden")) {
                    $(this).next().remove();
                    $(this).parents("td").next().append($label);
                }
            }
        });

        $("#btn_reset").click(function () {
            validator.resetForm();
            $("#btn_sendCode").val("发送验证码");
        });

        $("#btn_sendCode").click(function () {
            if (validator.element($("#LoginName")) && validator.element($("#Email"))) {
                $(this).attr("disabled", true);
                fun_btn_sendCode(this, 2);
                $.post("../Send/SendEmail", { name: $("#LoginName").val(), email: $("#Email").val() }, function () {
                });
            }
        });


    });

    function fun_btn_sendCode(e, num) {
        setTimeout(function () {
            if (num == 0) {
                $(e).attr("disabled", false).val("重发");
                return false;
            }
            $(e).val(num + "秒后重发");
            num--;
            fun_btn_sendCode(e, num);
        }, 1000)
    }

</script>
@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form_Register", id = "form_Register", enctype = "multipart/form-data" }))
{
    <div style="height:30px"></div>
    <table class="table_form">
        <tbody>
            <tr>
                <td><label for="LoginName" class="item-label">用户名</label></td>
                <td><input type="text" class="item-text" placeholder="请输入您的用户名" name="LoginName" id="LoginName"></td>
            </tr>
            <tr>
                <td><label for="PassWord" class="item-label">密码</label></td>
                <td><input type="password" class="item-text" placeholder="请输入您的密码" name="PassWord" id="PassWord"></td>
            </tr>
            <tr>
                <td><label for="input_rePassword" class="item-label">确认密码</label></td>
                <td><input type="password" class="item-text" placeholder="请输入您的密码" name="input_rePassword" id="input_rePassword"></td>
            </tr>
            <tr>
                <td><label for="Email" class="item-label">邮箱</label></td>
                <td>
                    <nobr>
                        <input type="text" class="item-text" placeholder="请输入您的邮箱" name="Email" id="Email">
                        &nbsp;&nbsp;&nbsp;
                        <input type="button" style="display:inline" class="btn btn-default" id="btn_sendCode" value="发送验证码" />
                    </nobr>
                </td>
                <td style="width:110px"></td>
            </tr>
            <tr>
                <td><label for="ValidateCode" class="item-label">验证码</label></td>
                <td><input type="text" class="item-text" placeholder="验证码" name="ValidateCode" id="ValidateCode"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <nobr style="width:335px;margin:0 auto;display:block">
                        <input class="btn btn-default" type="reset" value="重置" id="btn_reset">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="btn btn-default" type="submit" value="完成">
                    </nobr>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="height:30px"></div>
}

