
@{
    ViewBag.Title = "UserRegister";
    Layout = "~/Views/Shared/Template.cshtml";
}
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<style type="text/css">
    .form_Register {
        width: 100%;
        height: auto;
        background: #f5f5f5 none repeat scroll 0 0;
    }

    .table_form {
        margin: 0 auto;
    }

        .table_form > tbody > tr > td:nth-child(2n+1) {
            width: 80px;
            height: 50px;
        }

        .table_form > tbody > tr > td:nth-child(2n) {
            width: 200px;
            height: 50px;
        }
</style>
@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form_Register" }))
{
    <div style="height:30px"></div>
    <table class="table_form">
        <tbody>
            <tr>
                <td><label>昵称</label></td>
                <td><input type="text" class="form-control" placeholder="请输入您的昵称" name="ShowName" id="input_ShowName"></td>
            </tr>
            <tr>
                <td><label>密码</label></td>
                <td><input type="password" class="form-control" placeholder="请输入您的密码" name="PassWord" id="input_PassWord"></td>
            </tr>
            <tr>
                <td><label>确认密码</label></td>
                <td><input type="password" class="form-control" placeholder="请输入您的密码" name="PassWord" id="input_PassWord2"></td>
            </tr>
            <tr>
                <td><label>邮箱</label></td>
                <td><input type="text" class="form-control" placeholder="请输入您的邮箱" name="text" id="input_email"></td>
                <td style="text-align:right;width:110px;"><input type="button" class="btn btn-default" id="btn_sendCode" value="发送验证码" /></td>
            </tr>
            <tr>
                <td><label>验证码</label></td>
                <td><input type="text" class="form-control" placeholder="验证码" name="code" id="input_code"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <nobr style="width:195px;margin:0 auto;display:block">
                        <input class="btn btn-default" type="reset" value="重置">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="btn btn-default" type="submit" value="完成">
                    </nobr>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="height:30px"></div>
}

