
@{
    ViewBag.Title = "UserLogin";
    Layout = null;
}
<link href="~/Scripts/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
<meta property="qc:admins" content="1555204475611205116163757" />
@using (Html.BeginForm("UserLogin", "Home", FormMethod.Post))
{
    <div style="width:500px;margin:0 auto">
        <h2>欢迎登录</h2>
        <input id="input_LoginName" name="LoginName" class="input-xlarge" type="text" placeholder="请输入您的账号">
        <input id="input_PassWord" name="PassWord" class="input-xlarge" type="password" placeholder="请输入您的密码">
        <button class="btn" type="submit">登录</button>
    </div>
    <div style="width:500px;margin:0 auto">
        <span>其他方式登录:</span><a href="/Home/QQLogin"><img src="~/Content/Images/qq/qqQiEr.png" /></a>
    </div>
    <script src="~/Scripts/jq/jquery-2.1.4/jquery.js"></script>
    //qq js sdk 登录
    @*<div id="login-by-qq">
            <a class="login button" id="sidebar">使用QQ登录</a>
            <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101346412" charset="utf-8"></script>
            <script type="text/javascript">
            $("#sidebar").click(function () {
            window.opener = null; window.open('', '_self'); window.close();
            var op =
            {
                    appId: "101346412",
                    redirectURI: 'http://www.aizheaina.com/Home/Index',
                };
        QC.Login.showPopup(op);
                return false;
            });
            </script>
        </div>*@
    //qq js sdk 登录















}


