
@{
    ViewBag.Title = "Phone";
    Layout = "~/Views/Shared/Template.cshtml";
}
<style type="text/css">
    .phonePageWai {
        margin-left: auto;
        margin-right: auto;
    }
        .phonePageWai > div {

        }
</style>

<script type="text/javascript">



</script>
<div class="phonePageWai">
    <div>
        <div id="divPhoneUpImg">

        </div>
        <div id="divPhoneGouMaiPeiZhi">

        </div>
    </div>
</div>

