
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommonError</title>
</head>
<body>
    <div> 
        错误
    </div>
</body>
</html>
