
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误页</title>
</head>
<body>
    <span id="spanErroMsg">出错</span>
    <a id="aReturnUrl"></a>
    <script type="text/javascript">
        //登录出错
        if ("@ViewBag.errorStatus" == "loginError") {
            var i = 5;
            document.getElementById("aReturnUrl").href = "/Home/Login";
            document.getElementById("aReturnUrl").innerHTML = "立即前往";
            var spanErroMsg = document.getElementById("spanErroMsg");
            spanErroMsg.innerHTML = "登录出错，" + i + "秒后跳转到登录页"
            setInterval(function () {
                i--;
                spanErroMsg.innerHTML = "登录出错，" + i + "秒后跳转到登录页";
                if (i == 0) {
                    window.location.href = "/Home/Login";
                }
            }, 1000);
        }
    </script>
</body>
</html>
