.my-ultempplate {
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 0.3px;
}

.my-ultempplate-div1 {
    width: 230px;
    height: 304px;
    position: relative;
}

.my-ultempplate > li {
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ffffff;
    margin-bottom: 16px;
}

.my-ultempplate-div1 img {
    width: 150px;
    height: 150px;
    margin-top: 40px;
}

.my-list-inline-liFirst {
    width: 230px;
    height: 143px;
    position: relative;
    top: -126px;
    padding-left: 0px;
}

    .my-list-inline-liFirst > div {
        width: 230px;
        height: 143px;
        background-color: #ffffff;
    }

        .my-list-inline-liFirst > div > div:first-child {
            height: 60px;
            width: 130px;
            position: absolute;
            top: 55px;
        }

        .my-list-inline-liFirst > div > div:last-child {
            height: 80px;
            width: 80px;
            position: absolute;
            right: 20px;
            top: 30px;
        }

            .my-list-inline-liFirst > div > div:last-child img {
                width: 80px;
                height: 80px;
            }


.my-list-inline-liLast {
    width: 230px;
    height: 143px;
    position: absolute;
    right: 33px;
    bottom: 0px;
}

    .my-list-inline-liLast > div {
        width: 230px;
        height: 143px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        background-color: #ffffff;
    }

        .my-list-inline-liLast > div > div:first-child {
            height: 80px;
            width: 130px;
            position: absolute;
            top: 50px;
        }

        .my-list-inline-liLast > div > div:last-child {
            height: 80px;
            width: 80px;
            position: absolute;
            right: 20px;
            top: 35px;
        }

            .my-list-inline-liLast > div > div:last-child img {
                width: 90px;
                height: 80px;
            }

    /*设置hove时的阴影效果开始*/
    .my-ultempplate-div1, .my-list-inline-liFirst > div, .my-list-inline-liLast > div {
        /*transition-duration 设置过渡*/
        transition-duration: 0.5s;
        /* Firefox 4 */
        -moz-transition-duration: 0.5s;
        /* Safari and Chrome */
        -webkit-transition-duration: 0.5s;
        /* Opera */
        -o-transition-duration: 0.5s;
    }

        .my-ultempplate-div1:hover, .my-list-inline-liFirst > div:hover, .my-list-inline-liLast > div:hover {
            /*设置阴影*/
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3); /*ie*/
            -moz-box-shadow: 5px 5px 10px #909090; /*firefox*/
            -webkit-box-shadow: 5px 5px 10px #909090; /*safari或chrome*/
            box-shadow: 5px 5px 10px #909090; /*opera或ie9*/
        }

.my-ultempplate-divMiaoShu1 {
    margin-top: 20px;
}

.my-ultempplate-divMiaoShu3 {
    background-color: #83c44e;
    height: 20px;
    left: 35%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 7;
}

.my-ultempplate-divMiaoShu2 {
    width: 230px;
    height: 0px;
    overflow: hidden;
    /*transition第一个参数设置哪个属性过渡，第二个设置过渡所需时间，3使用函数，4延迟时间*/
    transition: all 0.2s linear 0s;
    opacity: 0;
    position: absolute;
    z-index: 7;
    left: 0px;
    bottom: 0px;
    background-color: #ff6a00;
}

/*竖排分类导航样式*/
.divShuPaiFeiLeiDaoHang_ul1 {
    background-color: #5C544C;
    color: #ffffff;
    margin-bottom: 0;
    position: relative;
}

.divShuPaiFeiLeiDaoHang_li1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

    .divShuPaiFeiLeiDaoHang_li1:hover {
        background-color: #ff6a00;
    }

.divShuPaiFeiLeiDaoHang_a1 {
    color: #ffffff;
    text-decoration: none;
}

.divShuPaiFeiLeiDaoHang_div1 {
    /*width: calc(1450*0.2px);*/
    background-color: #ffffff;
    height: 500px;
    left: 244px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0px;
    z-index: 20;
    display: none;
}

.divShuPaiFeiLeiDaoHang_ul2 {
    width: 220px;
    height: 500px;  
    float: left;
}

.divShuPaiFeiLeiDaoHang_li2 {
    height: 83.3px;
    list-style-type: none;
}

    .divShuPaiFeiLeiDaoHang_li2 a {
        color: #000000;
        display: block;
        float: left;
    }

    .divShuPaiFeiLeiDaoHang_li2 img {
        margin-left: 10px;
        margin-right: 10px;
        width: 30px;
    }

.divShuPaiFeiLeiDaoHang_a2 {
    line-height: 75px;
    width: 132px;
}

.divShuPaiFeiLeiDaoHang_a3 {
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid #fb3434;
    width: 58px;
    height: 22px;
    line-height: 22px;
    margin-top: 28px;
}

    .divShuPaiFeiLeiDaoHang_a3:hover {
        background-color: #fb3434;
    }
/*竖排分类导航样式end*/

/*精美单品*/

.ulJingMeiDanPin {
    width: 3000px;
    margin-left: 0px;
}

    .ulJingMeiDanPin > li {
        float: left;
        padding-left: 0;
        padding-right: 0;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #ffffff;
    }

        .ulJingMeiDanPin > li > div {
            width: 233px;
            height: 300px;
        }

            .ulJingMeiDanPin > li > div img {
                width: 130px;
                height: 170px;
            }

            .ulJingMeiDanPin > li > div > div {
                width: 233px;
                height: 80px;
            }

.rainbow-item-1 {
    border-top: 1px solid #ffac13;
}

.rainbow-item-2 {
    border-top: 1px solid #83c44e;
}

.rainbow-item-3 {
    border-top: 1px solid #2196f3;
}

.rainbow-item-4 {
    border-top: 1px solid #e53935;
}

.rainbow-item-5 {
    border-top: 1px solid #00c0a5;
}

.rainbow-item-6 {
    border-top: 1px solid #ffac13;
}

.rainbow-item-7 {
    border-top: 1px solid #83c44e;
}

.rainbow-item-8 {
    border-top: 1px solid #2196f3;
}

.rainbow-item-9 {
    border-top: 1px solid #e53935;
}

.rainbow-item-10 {
    border-top: 1px solid #00c0a5;
}
/*精美单品end*/
