
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="qc:admins" content="1555204475611205116163757" />@*QQ登录验证标签*@
    <meta property="wb:webmaster" content="2036a8d102589b80" />@*新浪微博登录验证标签*@
    <link href="~/Scripts/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
            /*解决屏幕缩小时boty内的div设置width：100%出现空白问题*/
            min-width: 1450px;
        }

        .divTemplatePageWai {
            width: 100%;
        }

            .divTemplatePageWai > div {
                /*设置div的宽度和偏移度*/
                margin-left: auto;
                margin-right: auto;
                width: 1450px;
            }

        #divContentIndivHengPaiTouBuDaoHang2 ul li div {
            width: calc(1450*0.2px);
            height: 150px;
            position: absolute;
            z-index: 22;
            display: none;
        }

        #divContentIndivHengPaiTouBuDaoHang2 ul li {
            padding: 43px 4.6px 43.5px 4.6px;
            margin-right: -2px;
        }

        #divHengPaiTouBuDaoHang1 div ul li {
            padding: 10px 2px 9.5px 2px;
        }

            #divHengPaiTouBuDaoHang1 div ul li div {
                position: absolute;
                z-index: 20;
                display: none;
                height: 100px;
            }
    </style>
    <script src="~/Scripts/jq/jquery-2.1.4/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="~/Scripts/common/handlebars-v4.0.5.js"></script>
    <script type="text/javascript">
        $(function () {
            var isResizing = true;
            window.onresize = function () {
                isResizing = true;
                //isResizing解决window.onresize在某些浏览器下会执行两次的bug.实践起来有点不行啊....
                if (isResizing) {
                    $("#divHengPaiTouBuDaoHang1 div ul li div").each(function () {
                        TemplateZs1($(this), "divHengPaiTouBuDaoHang1");
                    });
                    $("#divContentIndivHengPaiTouBuDaoHang2 ul li div").each(function () {
                        TemplateZs1($(this), "divContentIndivHengPaiTouBuDaoHang2");
                    });
                    $("#divShuPaiFeiLeiDaoHang ul li div").each(function () {
                        TemplateZs1($(this), "divShuPaiFeiLeiDaoHang");
                    });
                    isResizing = false;
                } else {
                    isResizing = true;
                }
            };
            //根据用户登录判断模板数据样式
            $.getJSON("/GetInFo/GetUserInfo", function (AiZheAiNa_SYS_UserModel) {
                if (AiZheAiNa_SYS_UserModel != null && AiZheAiNa_SYS_UserModel.ID > 0) {
                    $("#spanUserName").html("欢迎-" + AiZheAiNa_SYS_UserModel.ShowName)
                    if (AiZheAiNa_SYS_UserModel.UserImg != null && AiZheAiNa_SYS_UserModel.UserImg != "") {
                        $("#divLoginHouShow ul li:first").prepend($("<img style='width:30px' id='imgShowUserImg' src='" + AiZheAiNa_SYS_UserModel.UserImg + "'/>"));
                    }
                    $("#divHuanYing").css("display", "none");
                    $("#divLoginHouShow").css("display", "block");
                }
                else {
                    $("#divHuanYing").css("display", "block");
                    $("#divLoginHouShow").css("display", "none");
                }
            });

            //第一个横排导航内容的显示与隐藏
            $("#divHengPaiTouBuDaoHang1 div ul li div").each(function (index, item) {
                var $d = $(item);
                var bcolor = "#00ff21";
                if (index % 2 == 0) {
                    bcolor = "#f19a9a";
                }
                TemplateZs1($d, "divHengPaiTouBuDaoHang1", bcolor);
                TemplateZs2($d);
            });

            //第二个横排导航内容的显示与隐藏
            $("#divContentIndivHengPaiTouBuDaoHang2 ul li div").each(function (index, item) {
                var $d = $(item);
                var bcolor = "#00ff21";
                if (index % 2 == 0) {
                    bcolor = "#f19a9a";
                }
                TemplateZs1($d, "divContentIndivHengPaiTouBuDaoHang2", bcolor);
                TemplateZs2($d);
            });
        });

        //设置div的left的距离及大小
        function TemplateZs1(item, type, bcolor) {
            switch (type) {
                case "divHengPaiTouBuDaoHang1":
                    item.css({ "left": item.parent().offset().left, "top": item.parents(".divHengPaiTouBuDaoHang1").parent().offset().top + item.parents(".divHengPaiTouBuDaoHang1").height(), "background-color": bcolor, "width": item.parent().width() + 4.5 });
                    break;
                case "divContentIndivHengPaiTouBuDaoHang2":
                    item.css({ "left": "0px", "top": item.parents(".divContentIndivHengPaiTouBuDaoHang2").parent().offset().top + item.parents(".divContentIndivHengPaiTouBuDaoHang2").height(), "background-color": bcolor, "width": $(window).width() });
                    break;
                case "divShuPaiFeiLeiDaoHang":
                    item.css({ "left": item.parent().parent().offset().left + item.parent().width(), "top": item.parents("div").offset().top });
                    break;
                default:
                    return false;
            }
        }

        //设置div的mousemove和mouseout
        function TemplateZs2(item) {
            item.parent().hover(function () {
                $(this).children("div").show();
            }, function () {
                $(this).children("div").hide();
            });
            item.hover(function () {
                $(this).show();
            }, function () {
                $(this).hide();
            });
        };
    </script>
</head>
<body>
    <div>
        <div class="divTemplatePageWai" style="background-color:#333333;height:40px;" miaoshu="头部导航">
            <div id="divTou">
                <div id="divHuanYing" style="float:left;width: 20%;">
                    <ul class="list-inline text-center" style="margin:3% 0;padding:0px">
                        <li>
                            <a href="/Home/index" style="color:#ffffff">欢迎来到爱这爱那网</a>
                        </li>
                        <li>
                            <a href="/Home/Login">请登录</a>
                        </li>
                        <li>
                            <a href="/Home/Register">免费注册</a>
                        </li>
                    </ul>
                </div>
                <div id="divLoginHouShow" style="float:left;width: 20%;display:none;">
                    <ul class="list-inline text-center" style="margin:1.5% 0;padding:0px">
                        <li>
                        </li>
                        <li>
                            <a href="/Home/index" style="color:#ffffff">首页</a> &nbsp;&nbsp; <span id="spanUserName" style="color:#ffffff"></span>
                        </li>
                        <li>
                            <a href="/Home/LoginOut">退出</a>
                        </li>
                    </ul>
                </div>
                <div style="float:right;width: 60%;" id="divHengPaiTouBuDaoHang1" class="divHengPaiTouBuDaoHang1">
                    <div>
                        <ul class="list-inline text-center" style="margin:0px;padding:0px">
                            <li>
                                <a>我的爱</a>
                                <div></div>
                            </li>
                            <li>
                                <a>我关注的品牌</a>
                                <div></div>
                            </li>
                            <li>
                                <a>购物车0件</a>
                                <div></div>
                            </li>
                            <li>
                                <a>收藏夹</a>
                                <div></div>
                            </li>
                            <li>|</li>
                            <li>
                                <a>手机版</a>
                                <div></div>
                            </li>
                            <li>
                                <a>商家支持</a>
                                <div></div>
                            </li>
                            <li>
                                <a>网站导航</a>
                                <div></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="divTemplatePageWai" style="background-color:#d7d7d7;height:107px;" miaoshu="横排分类导航">
            <div>
                <div id="divLogImg" style="float:left;width:10%;height:70px; border:1px solid #808080;margin-top:30px">
                    log
                </div>
                <div id="divContentIndivHengPaiTouBuDaoHang2" style="width: 60%;float:left;" class="divContentIndivHengPaiTouBuDaoHang2">
                    <ul class="list-inline text-center" style="padding:0px;margin:0px">
                        <li>
                            <a>小米手机</a>
                            <div>

                            </div>
                        </li>
                        <li>
                            <a>红米</a>
                            <div>

                            </div>
                        </li>
                        <li>
                            <a>平板·电脑</a>
                            <div>

                            </div>
                        </li>
                        <li>
                            <a>电视</a>
                            <div>

                            </div>
                        </li>
                        <li>
                            <a>盒子·影音</a>
                            <div>

                            </div>
                        </li>
                        <li>
                            <a>路由器</a>
                            <div>

                            </div>
                        </li>
                        <li>
                            <a>只能硬件</a>
                            <div>

                            </div>
                        </li>
                        <li>
                            <a>服务</a>
                            <div>

                            </div>
                        </li>
                        <li>
                            <a>社区</a>
                            <div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div id="divSearch" style="width:25%;float:left;">
                    <div class="input-group" style="margin-top:30px">
                        <input type="text" class="form-control">
                        <span class="input-group-addon">搜索</span>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <div class="divTemplatePageWai" id="divpageDi" style="height:190px;background-color:#000000;color:#ffffff;margin:10px auto 0 auto">
            底部啊底部
        </div>
    </div>
</body>
</html>
