
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="qc:admins" content="1555204475611205116163757" />@*QQ登录验证标签*@
    <meta property="wb:webmaster" content="2036a8d102589b80" />@*新浪微博登录验证标签*@
    <link href="~/Scripts/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/changYong.css" rel="stylesheet" />
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
            /*解决屏幕缩小时boty内的div设置width：100%出现空白问题*/
            min-width: 1450px;
        }

        .divTemplatePageWai {
            width: 100%;
        }

            .divTemplatePageWai > div {
                /*设置div的宽度和偏移度*/
                margin-left: auto;
                margin-right: auto;
                width: 1450px;
            }

        #divHengPaiTouBuDaoHang2 > ul > li > div {
            width: calc(1450*0.2px);
            height: 200px;
            position: absolute;
            z-index: 22;
            display: none;
        }

        #divHengPaiTouBuDaoHang2 > ul > li {
            padding: 43px 19px 43.5px;
            float: left;
        }

            #divHengPaiTouBuDaoHang2 > ul > li:first-child {
                padding-left: 80px;
            }

        .divHengPaiTouBuDaoHang2-ul2 {
            margin-left: auto;
            margin-right: auto;
            width: 1450px;
            background-color: black;
        }

            .divHengPaiTouBuDaoHang2-ul2 li {
                float: left;
                position: relative;
            }

                .divHengPaiTouBuDaoHang2-ul2 li:not(:first-child)::before {
                    background-color: #e0e0e0;
                    content: "";
                    height: 100px;
                    left: 0;
                    position: absolute;
                    top: 25px;
                    width: 1px;
                    z-index: 10;
                }

                .divHengPaiTouBuDaoHang2-ul2 li > div:first-child {
                    margin-top: 20px;
                    margin-bottom: 15px;
                }

            .divHengPaiTouBuDaoHang2-ul2 img {
                width: 160px;
                height: 110px;
            }

        #divHengPaiTouBuDaoHang1 div ul li {
            padding: 10px 2px 9.5px 2px;
        }

            #divHengPaiTouBuDaoHang1 div ul li div {
                position: absolute;
                z-index: 20;
                display: none;
                height: 100px;
            }

        #divLogImg {
            position: relative;
        }

            #divLogImg > div:first-child {
                position: absolute;
                left: 0;
                top: 5px;
            }

            #divLogImg > div:last-child {
                position: absolute;
                right: 0;
            }

        .divLogImg_alog {
            background: rgba(0, 0, 0, 0) url("http://s01.mifile.cn/i/mi-logo.png") no-repeat scroll 50% 50%;
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
            display: block;
            height: 55px;
            width: 55px;
            background-color: #ff6700;
        }

        .divLogImg_aimg {
            height: 90px;
            width: 165px;
            display: block;
            background-image: url("http://c1.mifile.cn/f/i/g/doodle/pro.gif");
            overflow: hidden;
            background-repeat: no-repeat;
        }
    </style>
    <script src="~/Scripts/jq/jquery-2.1.4/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="~/Scripts/common/handlebars-v4.0.5.js"></script>
    <script src="~/Scripts/common/handlebars.extend.js"></script>
    <script id="divHengPaiTouBuDaoHang2_Template" type="text/x-handlebars">
        <!--横排导航2模板-->
        <ul class="mylist-inline text-center" style="margin-left:5%">
            {{#each this}}
            <li>
                <a href="javascript:void(0);">{{divHengPaiTouBuDaoHang2Name }}</a>
                {{#compare divHengPaiTouBuDaoHang2Name "!=" "服务&&社区" }}
                <div>
                    <ul class="list-inline divHengPaiTouBuDaoHang2-ul2">
                        {{#with Content}}
                        {{#each this}}
                        <li>
                            <div>
                                {{#if isShowDetails}}
                                <a href="/Details/{{shopType}}?shopModel={{shopModel}}">
                                    <img src="{{imgsrc}}" alt="{{imgalt}}" />
                                </a>
                                {{else}}
                                <a href="/buy/{{shopType}}?shopModel={{shopModel}}">
                                    <img src="{{imgsrc}}" alt="{{imgalt}}" />
                                </a>
                                {{/if}}
                            </div>
                            <div>
                                {{#if isShowDetails}}
                                <a href="/Details/{{shopType}}?shopModel={{shopModel}}">{{shopName}}</a>
                                {{else}}
                                <a href="/buy/{{shopType}}?shopModel={{shopModel}}">{{shopName}}</a>
                                {{/if}}
                            </div>
                            <p style="color:#ff6a00">{{JiaGe}}</p>
                        </li>
                        {{/each}}
                        {{/with}}
                    </ul>
                </div>
                {{/compare}}
            </li>
            {{/each}}
        </ul>
    </script>
    <script type="text/javascript">
        $(function () {
            var divHengPaiTouBuDaoHang2Data = [
                        {
                            divHengPaiTouBuDaoHang2Name: "小米手机",
                            Content: [
                                {
                                    isShowDetails: false,
                                    imgsrc: "http://c1.mifile.cn/f/i/g/doodle/5s-110!160x110.jpg",
                                    imgalt: "",
                                    shopType: "phone",
                                    shopModel: "xm_5s",
                                    shopName: "小米5s",
                                    JiaGe: "1999元起"
                                },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/g/doodle/5splus-220!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "xm_5sPlus",
                                   shopName: "小米5s Plus",
                                   JiaGe: "2299元起"
                               },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/g/doodle/5splus-220!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "xm_5",
                                   shopName: "小米手机5",
                                   JiaGe: "1599元起"
                               },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/15/goods/nav/maxdingbu!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "xm_max",
                                   shopName: "小米Max",
                                   JiaGe: "1299元起"
                               }
                            ]
                        },
                        {
                            divHengPaiTouBuDaoHang2Name: "红米",
                            Content: [
                                {
                                    isShowDetails: false,
                                    imgsrc: "http://c1.mifile.cn/f/i/g/2015/cn-index/hongmipro-320!160x110.jpg",
                                    imgalt: "",
                                    shopType: "phone",
                                    shopModel: "hm_Pro",
                                    shopName: "红米Pro",
                                    JiaGe: "1099元起"
                                },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/g/doodle/hongminote4!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "hm_Note4",
                                   shopName: "红米Note 4",
                                   JiaGe: "899元起"
                               },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/15/goods/nav/note3!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "hm_Note3",
                                   shopName: "红米Note 3",
                                   JiaGe: "799元起"
                               },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/g/2015/video/hongmi3s!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "hm_3s",
                                   shopName: "红米Note 3",
                                   JiaGe: "799元起"
                               }

                            ]
                        },
                        {
                            divHengPaiTouBuDaoHang2Name: "平板·电脑",
                            Content: [
                                {
                                    isShowDetails: false,
                                    imgsrc: "http://c1.mifile.cn/f/i/15/goods/nav/mipad2-16!160x110.jpg",
                                    imgalt: "",
                                    shopType: "phone",
                                    shopModel: "pb_2",
                                    shopName: "小米平板2 16GB",
                                    JiaGe: "999元起"
                                },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/g/doodle/5splus-220!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "pb_2",
                                   shopName: "小米平板2 64GB",
                                   JiaGe: "1299元起"
                               },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/g/2015/video/bijiben32012.5!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "bjb_Air",
                                   shopName: "小米笔记本Air 12.5",
                                   JiaGe: "3499元起"
                               }
                            ]
                        },
                        {
                            divHengPaiTouBuDaoHang2Name: "电视",
                            Content: [
                                {
                                    isShowDetails: false,
                                    imgsrc: "http://c1.mifile.cn/f/i/g/2015/cn-index/101843.png",
                                    imgalt: "",
                                    shopType: "phone",
                                    shopModel: "ds_3s",
                                    shopName: "小米电视3s 43英寸",
                                    JiaGe: "1799元起"
                                }
                            ]
                        },
                        {
                            divHengPaiTouBuDaoHang2Name: "盒子·影音",
                            Content: [
                                {
                                    isShowDetails: false,
                                    imgsrc: "http://c1.mifile.cn/f/i/15/goods/nav/hezimini.png",
                                    imgalt: "",
                                    shopType: "phone",
                                    shopModel: "hz_mini",
                                    shopName: "小米盒子mini版",
                                    JiaGe: "179元起"
                                },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/15/goods/nav/hezi3.png",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "hz_3",
                                   shopName: "小米盒子3",
                                   JiaGe: "249元起"
                               }
                            ]
                        },
                        {
                            divHengPaiTouBuDaoHang2Name: "路由器",
                            Content: [
                                {
                                    isShowDetails: false,
                                    imgsrc: "http://c1.mifile.cn/f/i/g/doodle/5s-110!160x110.jpg",
                                    imgalt: "",
                                    shopType: "phone",
                                    shopModel: "ly_quanxin",
                                    shopName: "全新小米路由器",
                                    JiaGe: "699元"
                                },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/15/goods/nav/miwifi-3!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "ly_3",
                                   shopName: "小米路由器 3 1200M",
                                   JiaGe: "149元"
                               },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/15/goods/nav/wifiExtension!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "wifi",
                                   shopName: "小米WiFi放大器",
                                   JiaGe: "39元"
                               }
                            ]
                        },
                        {
                            divHengPaiTouBuDaoHang2Name: "智能硬件",
                            Content: [
                                {
                                    isShowDetails: false,
                                    imgsrc: "http://c1.mifile.cn/f/i/15/goods/nav/scooter!160x110.jpg",
                                    imgalt: "",
                                    shopType: "phone",
                                    shopModel: "phc",
                                    shopName: "九号平衡车",
                                    JiaGe: "1999元"
                                },
                               {
                                   isShowDetails: false,
                                   imgsrc: "http://c1.mifile.cn/f/i/g/2015/cn-index/water2!160x110.jpg",
                                   imgalt: "",
                                   shopType: "phone",
                                   shopModel: "jsq",
                                   shopName: "小米净水器",
                                   JiaGe: "1299元起"
                               }
                            ]
                        },
                        {
                            divHengPaiTouBuDaoHang2Name: "服务",
                        },
                        {
                            divHengPaiTouBuDaoHang2Name: "社区",
                        }
            ];
            var divHengPaiTouBuDaoHang2_Template = Handlebars.compile($("#divHengPaiTouBuDaoHang2_Template").html());
            $("#divHengPaiTouBuDaoHang2").html(divHengPaiTouBuDaoHang2_Template(divHengPaiTouBuDaoHang2Data));
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var isResizing = true;
            window.onresize = function () {
                isResizing = true;
                //isResizing解决window.onresize在某些浏览器下会执行两次的bug.实践起来有点不行啊....
                if (isResizing) {
                    $("#divHengPaiTouBuDaoHang1 div ul li div").each(function () {
                        TemplateZs1($(this), "divHengPaiTouBuDaoHang1");
                    });
                    $("#divHengPaiTouBuDaoHang2>ul>li>div").each(function () {
                        TemplateZs1($(this), "divHengPaiTouBuDaoHang2");
                    });
                    $("#divShuPaiFeiLeiDaoHang ul li div").each(function () {
                        TemplateZs1($(this), "divShuPaiFeiLeiDaoHang");
                    });
                    isResizing = false;
                } else {
                    isResizing = true;
                }
            };
            //根据用户登录判断模板数据样式
            $.getJSON("/GetInFo/GetUserInfo", function (AiZheAiNa_SYS_UserModel) {
                if (AiZheAiNa_SYS_UserModel != null && AiZheAiNa_SYS_UserModel.ID > 0) {
                    $("#spanUserName").html("欢迎-" + AiZheAiNa_SYS_UserModel.ShowName)
                    if (AiZheAiNa_SYS_UserModel.UserImg != null && AiZheAiNa_SYS_UserModel.UserImg != "") {
                        $("#divLoginHouShow>ul").css("margin-left", "-4px");
                        $("#divLoginHouShow ul li:first").prepend($("<img style='width:30px' id='imgShowUserImg' src='" + AiZheAiNa_SYS_UserModel.UserImg + "'/>"));
                    }
                    $("#divHuanYing").css("display", "none");
                    $("#divLoginHouShow").css("display", "block");
                }
                else {
                    $("#divHuanYing").css("display", "block");
                    $("#divLoginHouShow").css("display", "none");
                }
            });

            //第一个横排导航内容的显示与隐藏
            $("#divHengPaiTouBuDaoHang1 div ul li div").each(function (index, item) {
                var $d = $(item);
                var bcolor = "#00ff21";
                if (index % 2 == 0) {
                    bcolor = "#f19a9a";
                }
                TemplateZs1($d, "divHengPaiTouBuDaoHang1", bcolor);
                TemplateZs2($d);
            });

            //第二个横排导航内容的显示与隐藏
            $("#divHengPaiTouBuDaoHang2>ul>li>div").each(function (index, item) {
                var $d = $(item);
                var bcolor = "#FFFFFF";
                if (index % 2 == 0) {
                    bcolor = "#FFFFFF";
                }
                TemplateZs1($d, "divHengPaiTouBuDaoHang2", bcolor);
                TemplateZs2($d);
            });
        });

        //设置div的left的距离及大小
        function TemplateZs1(item, type, bcolor) {
            switch (type) {
                case "divHengPaiTouBuDaoHang1":
                    item.css({ "left": item.parent().offset().left, "top": item.parents(".divHengPaiTouBuDaoHang1").parent().offset().top + item.parents(".divHengPaiTouBuDaoHang1").height(), "background-color": bcolor, "width": item.parent().width() + 4.5 });
                    break;
                case "divHengPaiTouBuDaoHang2":
                    item.css({ "left": "0px", "top": item.parents(".divHengPaiTouBuDaoHang2").parent().offset().top + item.parents(".divHengPaiTouBuDaoHang2").height(), "background-color": bcolor, "width": $(window).width() });
                    break;
                case "divShuPaiFeiLeiDaoHang":
                    item.css({ "left": item.parent().parent().offset().left + item.parent().width(), "top": item.parents("div").offset().top });
                    break;
                default:
                    return false;
            }
        }

        //设置div的mousemove和mouseout
        function TemplateZs2(item) {
            item.parent().hover(function () {
                $(this).children("div").show();
            }, function () {
                $(this).children("div").hide();
            });
            item.hover(function () {
                $(this).show();
            }, function () {
                $(this).hide();
            });
        };
    </script>
</head>
<body>
    <div>
        <div class="divTemplatePageWai" style="background-color:#333333;height:40px;" miaoshu="头部导航">
            <div id="divTou">
                <div id="divHuanYing" style="float:left;width: 20%;">
                    <ul class="mylist-inline" style="margin:3% 0;margin-left:-4px">
                        <li>
                            <a href="/Home/index" style="color:#ffffff">欢迎来到爱这爱那网</a>
                        </li>
                        <li>
                            <a href="/Home/Login">请登录</a>
                        </li>
                        <li>
                            <a href="/Home/Register">免费注册</a>
                        </li>
                    </ul>
                </div>
                <div id="divLoginHouShow" style="float:left;width: 20%;display:none;">
                    <ul class="mylist-inline" style="margin:1.5% 0;margin-left:-20px">
                        <li>
                        </li>
                        <li>
                            <a href="/Home/index" style="color:#ffffff">首页</a> &nbsp;&nbsp; <span id="spanUserName" style="color:#ffffff"></span>
                        </li>
                        <li>
                            <a href="/Home/LoginOut">退出</a>
                        </li>
                    </ul>
                </div>
                <div style="float:right;width: 80%;" id="divHengPaiTouBuDaoHang1" class="divHengPaiTouBuDaoHang1">
                    <div>
                        <ul class="mylist-inline" style="margin:0px;padding:0px;float:right">
                            <li>
                                <a>我的爱</a>
                                <div></div>
                            </li>
                            <li>
                                <a>我关注的品牌</a>
                                <div></div>
                            </li>
                            <li>
                                <a>购物车0件</a>
                                <div></div>
                            </li>
                            <li>
                                <a>收藏夹</a>
                                <div></div>
                            </li>
                            <li>|</li>
                            <li>
                                <a>手机版</a>
                                <div></div>
                            </li>
                            <li>
                                <a>商家支持</a>
                                <div></div>
                            </li>
                            <li>
                                <a>网站导航</a>
                                <div></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="divTemplatePageWai" style="background-color:#ffffff;height:107px;" miaoshu="横排分类导航">
            <div>
                <div id="divLogImg" style="float:left;width:16%;height:75px; margin-top:15px">
                    <div>
                        <a class="divLogImg_alog"></a>
                    </div>
                    <div>
                        <a class="divLogImg_aimg"></a>
                    </div>
                </div>
                <div id="divHengPaiTouBuDaoHang2" style="width: 59%;float:left;" class="divHengPaiTouBuDaoHang2">
                </div>
                <div id="divSearch" style="width:25%;float:left;">
                    <div class="input-group" style="margin-top:30px">
                        <input type="text" class="form-control">
                        <span class="input-group-addon">搜索</span>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <div class="divTemplatePageWai" id="divpageDi" style="height:190px;background-color:#000000;color:#ffffff;margin:10px auto 0 auto">
            底部啊底部
        </div>
    </div>
</body>
</html>
