
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="qc:admins" content="1555204475611205116163757" />@*QQ登录验证标签*@
    <meta property="wb:webmaster" content="2036a8d102589b80" />@*新浪微博登录验证标签*@
    <title>Template</title>
    <link href="~/Scripts/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <div>
        <div style="width: 100%;background-color:#333333;height:40px;" miaoshu="头部导航">
            <div id="divTou" style="width: 1450px;background-color:#333333;margin-left:15%;">
                <div id="divHuanYing" style="float:left;width: 20%;">
                    <ul class="list-inline text-center" style="margin:3% 0">
                        <li>
                            <span style="color:#ffffff">欢迎来到爱这爱那网</span>
                        </li>
                        <li>
                            <a href="/Home/Login">请登录</a>
                        </li>
                        <li>
                            <a href="/Home/Register">免费注册</a>
                        </li>
                    </ul>
                </div>
                <div id="divLoginHouShow" style="float:left;width: 20%;display:none;">
                    <ul class="list-inline text-center" style="margin:1.5% 0">
                        <li>
                        </li>
                        <li>
                            <span id="spanUserName" style="color:#ffffff"></span>
                        </li>
                        <li>
                            <a href="/Home/LoginOut">退出</a>
                        </li>
                    </ul>
                </div>
                <div style="float:right;width: 60%;">
                    <div>
                        <ul class="list-inline text-center" style="margin:1% 0">
                            <li><a>我的爱</a></li>
                            <li><a>我关注的品牌</a></li>
                            <li><a>购物车0件</a></li>
                            <li><a>收藏夹</a></li>
                            <li>|</li>
                            <li><a>手机版</a></li>
                            <li><a>商家支持</a></li>
                            <li><a>网站导航</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%;background-color:#d7d7d7;height:115px;" miaoshu="横排分类导航">
            <div id="divTouBuDaoHang" style="width: 1450px;margin-left:15%;">
                <div id="divLogImg" style="float:left;width:10%;border:1px solid #808080">
                    log
                </div>
                <div id="divContent" style="width: 60%;float:left;">
                    <ul class="list-inline text-center" style="margin:5% 0">
                        <li><a>全部商品分类</a></li>
                        <li><a>小米手机</a></li>
                        <li><a>红米</a></li>
                        <li><a>平板·电脑</a></li>
                        <li><a>电视</a></li>
                        <li><a>盒子·影音</a></li>
                        <li><a>路由器</a></li>
                        <li><a>只能硬件</a></li>
                        <li><a>服务</a></li>
                        <li><a>社区</a></li>
                    </ul>
                </div>
                <div id="divSearch" style="width:25%;float:left;">
                    <div class="input-group" style="margin:10% 0 ">
                        <input type="text" class="form-control">
                        <span class="input-group-addon">搜索</span>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <div id="divpageDi" style="width:100%;height:190px;background-color:#000000;color:#ffffff;margin:10px auto 0 auto">
            底部啊底部
        </div>
    </div>
    <script src="~/Scripts/jq/jquery-2.1.4/jquery.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script type="text/javascript">
        //根据用户登录判断模板数据样式
        $.getJSON("/GetInFo/GetUserInfo", function (AiZheAiNa_SYS_UserModel) {
            if (AiZheAiNa_SYS_UserModel != null && AiZheAiNa_SYS_UserModel.ID > 0) {
                $("#spanUserName").html("欢迎-" + AiZheAiNa_SYS_UserModel.ShowName)
                if (AiZheAiNa_SYS_UserModel.UserImg != null && AiZheAiNa_SYS_UserModel.UserImg != "") {
                    $("#divLoginHouShow ul li:first").prepend($("<img style='width:30px' id='imgShowUserImg' src='" + AiZheAiNa_SYS_UserModel.UserImg + "'/>"));
                }
                $("#divHuanYing").css("display", "none");
                $("#divLoginHouShow").css("display", "block");
            }
            else {
                $("#divHuanYing").css("display", "block");
                $("#divLoginHouShow").css("display", "none");
            }
        });
    </script>
</body>
</html>
