
@{
    ViewBag.Title = "Phone";
    Layout = "~/Views/Shared/Template.cshtml";
}
<link href="~/Scripts/common/myzom/myzom.css" rel="stylesheet" />
<style type="text/css">
    .phonePageWai > div {
        width: 1450px;
        margin-left: auto;
        margin-right: auto;
        height: 596px;
    }

    #phoneImg {
        width: 25%;
        float: left;
    }

    #divPhoneGouMaiPeiZhi {
        width: 75%;
        height: 530px;
        float: right;
        border: 1px solid #000000;
        position: relative;
    }











    .button {
        display: inline-block;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }

        .button:hover {
            text-decoration: none;
        }

        .button:active {
            position: relative;
            top: 1px;
        }

    /* orange */
    .orange {
        color: #fef4e9;
        border: solid 1px #da7c0c;
        background: #f78d1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
        background: -moz-linear-gradient(top, #faa51a, #f47a20);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    }

        .orange:hover {
            background: #f47c20;
            background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
            background: -moz-linear-gradient(top, #f88e11, #f06015);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
        }

        .orange:active {
            color: #fcd3a5;
            background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
            background: -moz-linear-gradient(top, #f47a20, #faa51a);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
        }
</style>
<script src="~/Scripts/jq/jquery-2.1.4/jquery-2.1.4.js"></script>
<div class="phonePageWai">
    <div>
        <div class="con-FangDa" id="phoneImg">
            <div class="con-fangDaIMg">
                <img src="https://img.alicdn.com/bao/uploaded/i2/TB18eiINpXXXXcWXVXXXXXXXXXX_!!0-item_pic.jpg_430x430q90.jpg">
                <div class="magnifyingBegin"></div>
                <div class="magnifyingShow"><img src="https://img.alicdn.com/bao/uploaded/i2/TB18eiINpXXXXcWXVXXXXXXXXXX_!!0-item_pic.jpg_430x430q90.jpg"></div>
            </div>
            <div class="divUpImgContent">
                <ul>
                    <li>
                        <img class="carimg" src="http://img.alicdn.com/bao/uploaded/i2/TB18eiINpXXXXcWXVXXXXXXXXXX_!!0-item_pic.jpg_60x60q90.jpg" data-zhengchang="https://img.alicdn.com/bao/uploaded/i2/TB18eiINpXXXXcWXVXXXXXXXXXX_!!0-item_pic.jpg_430x430q90.jpg" data-bigimg="https://img.alicdn.com/bao/uploaded/i2/TB18eiINpXXXXcWXVXXXXXXXXXX_!!0-item_pic.jpg_430x430q90.jpg" />
                    </li>
                    <li>
                        <img src="https://img.alicdn.com/imgextra/i3/1695308781/TB2__OJavPB11BjSsppXXcjYVXa_!!1695308781.jpg_60x60q90.jpg" data-zhengchang="https://img.alicdn.com/imgextra/i3/1695308781/TB2__OJavPB11BjSsppXXcjYVXa_!!1695308781.jpg_430x430q90.jpg" data-bigimg="https://img.alicdn.com/imgextra/i3/1695308781/TB2__OJavPB11BjSsppXXcjYVXa_!!1695308781.jpg_430x430q90.jpg" />
                    </li>
                    <li>
                        <img src="https://img.alicdn.com/imgextra/i3/1695308781/TB2JqbGbxvzQeBjSZFAXXaF9VXa_!!1695308781.jpg_60x60q90.jpg" data-zhengchang="https://img.alicdn.com/imgextra/i3/1695308781/TB2JqbGbxvzQeBjSZFAXXaF9VXa_!!1695308781.jpg_430x430q90.jpg" data-bigimg="https://img.alicdn.com/imgextra/i3/1695308781/TB2JqbGbxvzQeBjSZFAXXaF9VXa_!!1695308781.jpg_430x430q90.jpg" />
                    </li>
                    <li>
                        <img src="https://img.alicdn.com/imgextra/i3/1695308781/TB2v86EbBPzQeBjSZPiXXb0TpXa_!!1695308781.jpg_60x60q90.jpg" data-zhengchang="https://img.alicdn.com/imgextra/i3/1695308781/TB2v86EbBPzQeBjSZPiXXb0TpXa_!!1695308781.jpg_430x430q90.jpg" data-bigimg="https://img.alicdn.com/imgextra/i3/1695308781/TB2v86EbBPzQeBjSZPiXXb0TpXa_!!1695308781.jpg_430x430q90.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <div id="divPhoneGouMaiPeiZhi">
            <a href="javascript:void()" class="button orange addcar">加入购物车</a>
        </div>

    </div>
</div>
<script src="~/Scripts/common/myzom/myzom.js"></script>
<script src="~/Scripts/common/JoinShoppingCart/jquery.fly.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#phoneImg").myzom();
    })

</script>

